<P><%= render "validation_errors", object:  @sample%><P>

<%= smart_form(@sample, params[:controller]) do |f| %>
	
	<% if action_name == "new" %>
		<% if @project.present? %>
			<%= f.hidden_field :project_id, :value => @project.id %>
		<% else %>
			<div class="row row-form">
				<div class="col-sm-2">
					<%= f.label :project_id, "Project Name", class: "control-label" %>
				</div>
				<div class="col-sm-10">
					<%= f.select :project_id, Project.where(user_id: current_user.id).collect {|t| [t.project_name, t.id]}, {prompt: "Select Project"}, class: "form-control" %>
				</div>
			</div>
		<% end %>
	<% end %>
	
	<div class="row row-form">
		<div class="col-sm-2">
			<%= f.label :date, class: "control-label" %>
		</div>
		<div class="col-sm-10">
			<%= f.date_select :date, class: "form-control"%>
		</div>
	</div>
	<div class="row row-form">
		<div class="col-sm-2">
			<%= f.label :quantity, class: "control-label" %>
		</div>
		<div class="col-sm-10">
			<%= f.text_field :quantity, class: "form-control", placeholder: "How many samples" %>
		</div>
	</div>
	<div class="row row-form">
		<div class="col-sm-2">
			<%= f.label :description, class: "control-label" %>
		</div>
		<div class="col-sm-10">
			<%= f.text_area :description, class: "form-control", placeholder: "What is(are) the sample(s)" %>
		</div>
	</div>	
	<div class="row row-form">
		<div class="col-sm-2">
			<%= f.label :receive_date,'ETA',  class: "control-label" %>
		</div>
		<div class="col-sm-10">
			<%= f.date_select :receive_date, class: "form-control"%>
		</div>
	</div>
	<div class="row row-form">
		<div class="col-sm-2">
			<%= f.label :received, class: "control-label" %>
		</div>
		<div class="col-sm-10">
			<%= f.check_box :received%>
		</div>
	</div>
	<div class="row row-form">
		<div class="col-sm-offset-2 col-sm-10">
			<%= f.submit :Submit, class: "btn btn-default" %>
		</div>
	</div>
<% end %>