<div class="table-responsive">
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<% if @project.nil? %>
					<th><%= "Project Name"%></th>
				<% end %>
				<th class = 'text-center'>Quantity</th>
				<th class = 'text-center'><%= sortable "receive_date", "ETA" %></th>
				<th>Description</th>
				<th><%= "Factory" if current_user.role != "factory" %></th>
				<th><%= "Action" if current_user.role == "admin"%></th>
			</tr>
		</thead>
		<tbody>
			<% @samples.each do |sample| %>	
				<tr>
					<%if @project.nil?%>
						<td><%= sample.project.project_name %></td>
					<%end%>
					<td align = 'center'><%= sample.quantity %></td>
					<td align = 'center'><%= sample.receive_date.strftime("%b %d. %Y") %></td>
					<td><%= sample.description %></td>
					<td><%= sample.project.user.fullname if current_user.role != "factory"%></td>	
					<td>
						<% if current_user.role == "admin"%>
							<%= link_to 'Edit', edit_sample_url(id: sample.id) %>
							<%= link_to 'Delete', sample_url(id: sample.id), method: :delete, data: {confirm: "Are you sure?"} %>
						<% end %>
					</td>			
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

