<h1>Samples#index</h1>

<h2>
	<%= @project.project_name if @project.present? %> 
</h2>

<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th><%= "Project Name" if @project.nil? %></th>
			<th>Received at</th>
			<th>Quantity</th>
			<th>Description</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<% if @project.present? %>	
			<% @project.samples.each do |sample| %>
				<tr>
					<td align = 'center'><%= sample.quantity %></td>
					<td><%= sample.receive_date.strftime("%b %d. %Y") %></td>
					<td><%= sample.description %></td>	
					<td>
						<%= link_to 'Edit', edit_sample_url(sample) %>
						<%= link_to 'Delete', sample_url(sample), method: :delete, data: {confirm: "Are you sure?"} %>
					</td>			
				</tr>
			<% end %>	
		<% else %> 
			<% @samples.each do |sample| %>	
				<tr>
					<td><%= sample.project.project_name %></td>
					<td align = 'center'><%= sample.quantity %></td>
					<td><%= sample.receive_date.strftime("%b %d. %Y") %></td>
					<td><%= sample.description %></td>	
					<td>
						<%= link_to 'Edit', edit_sample_url(sample) %>
						<%= link_to 'Delete', sample_url(sample), method: :delete, data: {confirm: "Are you sure?"} %>
					</td>			
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>
