<P><%= render "validation_errors", object:  @task%><P>

<%= form_for @task do |f| %>

	<% if action_name == "new"%>
		<% if @project.present? %>
			<%= f.hidden_field :project_id, :value => @project.id %>
		<% else %>
			<%= f.select :project_id, Project.where(user_id: current_user.id).collect {|t| [t.project_name, t.id]}, {prompt: "Select Project"} %>
		<% end %>
	<% end %>

	<p>
		<%= f.label :executor %><br>
		<%= f.text_field :executor %>
	</p>

	<p>
		<%= f.label :task %><br>
		<%= f.text_area :task, size: "60x12" %>
	</p>
			
	<P><%= f.submit %></P>
<% end %>