<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th><%= Task.human_attribute_name(:executor) %></th>
			<th><%= Task.human_attribute_name(:task) %></th>
			<th><%= Task.human_attribute_name(:start_date) %></th>
			<th><%= Task.human_attribute_name(:deadline) %></th>
			<%if current_user.role == 'admin' %>
			<th></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% @tasks.each do |task| %>
			<tr>
				<td><%= task.executor.fullname %></td>
				<td><%= task.task %></td>
				<td><%= task.start_date.strftime("%m-%d-%y") if task.start_date.present? %></td>
				<td><%= task.deadline.strftime("%m-%d-%y") if task.deadline.present? %></td>
				<%if current_user.role == 'admin' %>
					<td>
						<%= link_to t('edit_label'), edit_task_path(id: task.id) %> 
						<%= link_to t('delete_label'), task_path(id: task.id), method: :delete, data: {confirm: 'Are you sure ?'}  %>
					</td>
				<% end %>
			</tr>			
		<% end %>			
	</tbody>
</table>

<%= paginate @tasks, window: 3, outer_window: 1%>