<h1>Tasks#index</h1>

<h2>
	<%= @project.project_name %>
</h2>

<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Executor</th>
			<th>Task</th>
			<th>Start at</th>
			<th>Deadline</th>
			<th>actions</th>
		</tr>
	</thead>
	<tbody>
		<% @project.tasks.each do |task| %>
			<tr>
				<td><%= task.executor %></td>
				<td><%= task.task %></td>
				<td><%= task.created_at.strftime("%d %b. %Y") %></td>
				<td><%= task.deadline.strftime("%d %b. %Y") %></td>
				<td>
					<%= link_to 'Edit', edit_task_path(task) %> |
					<%= link_to 'Delete', task_path(task), method: :delete, data: {confirm: 'Are you sure ?'}  %>
				</td>
			</tr>			
		<% end %>			
	</tbody>
</table>
