<h1>Notifications</h1>

<div class="panel panel-default panel-border-transparent">
  <div class="panel-body text-right">
	</div>
</div>

<% @notifications.each do |notification| %>
		<div class="panel panel-warning">
			<div class="panel-heading">
				<div style=<%= notification_weight notification %> >
					<%= "#{notification.notifiable_type} Notification" %>
				</div>
			</div>
			<div class="panel-body">
				<div style=<%= notification_weight(notification)%> >
					<%= User.find(notification.sender_id).fullname%> <%= notification.content%>
					<% if notification.notifiable_type == "Project"%>
						<%= notification.notifiable.project_name if  notification.notifiable.present?%>
					<% elsif notification.notifiable_type == "PoProduct"%>
						<%= notification.notifiable.po.po_number if  notification.notifiable.present? %>
					<% else %>
						<%= notification.notifiable.project.project_name if  notification.notifiable.present?%>
					<% end %>
				</div>
			</div>
			<div class="panel-footer text-right">
				<%= link_to 'View |', notification_path(notification), method: :put %>
				<%= link_to 'Delete', notification_path(notification), method: :delete, data: {confirm: "Are you sure?"}%>
			</div>
		</div>
<% end %>

