<div class="container container-user">

<div class="panel panel-default">
	<div class="panel-heading ">
		<h2>Notifications</h2>
	</div>
</div>

<% @notifications.each do |notification| %>
		<div class="panel panel-default">
			<div class="panel-body">
				<div style=<%= notification_weight(notification)%> >
					<%= User.find(notification.sender_id).fullname%> <%= notification.content%>
					<% if notification.notifiable_type == "Project"%>
						<%= notification.notifiable.project_name if  notification.notifiable.present?%>
					<% elsif notification.notifiable_type == "PoProduct"%>
						<%= notification.notifiable.po.po_number if  notification.notifiable.present? %>
					<% else %>
						<%= notification.notifiable.project.project_name if  notification.notifiable.present?%>
					<% end %>
				</div>
			</div>
			<div class="panel-footer text-right">
				<%= link_to 'View |', notification_path(id: notification.id), method: :put %>
				<%= link_to 'Delete', notification_path(id: notification.id), method: :delete, data: {confirm: "Are you sure?"}%>
			</div>
		</div>
<% end %>

</div>