<P><%= render "validation_errors", object:  @cost%><P>

<%= smart_form(@cost, params[:controller]) do |f| %>
	
	<!-- Check if requiring to offer project select -->
	<% if action_name == "new" %>
		<% if @project.present? %>
			<%= f.hidden_field :project_id, :value => @project.id %>
		<% else %>
			<div class="row row-form">
				<div class="col-sm-2">
					<%= f.label :project_id, "Project Name", class: "control-label" %>
				</div>
				<div class="col-sm-10">
					<%= f.select :project_id, project_select(current_user), {prompt: "Select Project"}, class: "form-control" %>
				</div>
			</div>
		<% end %>
	<% end %>

	<!-- Only show US Dollars to Admin and Users -->
	<% if current_user.role == "admin" || "user" %>
		<div class="row row-form">
			<div class="col-sm-2">
				<%= f.label :ratio, "Currency Ratio", class: "control-label" %>
			</div>
			<div class="col-sm-10">
				<%= f.number_field :ratio, class: "form-control", id: "ratio_input", value: 6.15%>
			</div>
		</div>
		<div class="row row-form" >
			<div class="col-sm-2">
				<%= f.label :unitUSD, "Unit USD", class: "control-label" %>
			</div>
			<div class="col-sm-10">
				<%= f.number_field :unitUSD, :step => 0.01, class: "form-control", id: "unit_usd_output", placeholder: " $ 0.00" %>
			</div>
		</div>
		<div class="row row-form">
			<div class="col-sm-2">
				<%= f.label :toolingUSD, "Tooling USD", class: "control-label" %>
			</div>
			<div class="col-sm-10">
				<%= f.number_field :toolingUSD, :step => 0.01, class: "form-control", id: "tooling_usd_output", placeholder: " $ 0.00" %>
			</div>
		</div>
	<% end %>

	<!-- Show RMB cost -->
	<div class="row row-form">
		<div class="col-sm-2">
			<%= f.label :unitRMB, "Unit RMB", class: "control-label" %>
		</div>
		<div class="col-sm-10">
			<%= f.number_field :unitRMB, :step => 0.01, class: "form-control", id: "unit_rmb_input", placeholder: "￥0.00" %>
		</div>
	</div>
	<div class="row row-form">
		<div class="col-sm-2">
			<%= f.label :toolingRMB, "Tooling RMB", class: "control-label" %>
		</div>
		<div class="col-sm-10">
			<%= f.number_field :toolingRMB, :step => 0.01, class: "form-control", id: "tooling_rmb_input", placeholder: "￥0.00" %>
		</div>
	</div>	
	<div class="row row-form">
		<div class="col-sm-2">
			<%= f.label :description, class: "control-label" %>
		</div>
		<div class="col-sm-10">
			<%= f.text_area :description, class: "form-control" %>
		</div>
	</div>
	<div class="row row-form">
		<div class="col-sm-offset-2 col-sm-10">
			<%= f.submit :Submit, class: "btn btn-default" %>
		</div>
	</div>
<% end %>

<script>
	$('#unit_rmb_input').on('change', function () {
	  UNIT_RMB = $(this).val();
	  UNIT_USD = Math.round(UNIT_RMB/$('#ratio_input').val()*100)/100;
	  $('#unit_usd_output').val(UNIT_USD);
	});
	$('#tooling_rmb_input').on('change', function () {
	  TOOLING_RMB = $(this).val();
	  TOOLING_USD = Math.round(TOOLING_RMB/$('#ratio_input').val()*100)/100;
	  $('#tooling_usd_output').val(TOOLING_USD);
	});
</script>