<!-- Cost table in index -->
<div class="table-responsive">
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<%if @project.nil?%> <!-- Check if table is accessed from project -->
					<th><%= sortable "project_name", "#{Project.human_attribute_name(:project_name)}" %></th>
				<%end%>
				<th><%= "#{Cost.human_attribute_name(:unitRMB)}" %></th>
				<th><%= "#{Cost.human_attribute_name(:toolingRMB)}" %></th>
				<th><%= "#{Cost.human_attribute_name(:unitUSD)}" if current_user.role != 'factory'%></th> <!-- Don't show USD to factory -->
				<th><%= "#{Cost.human_attribute_name(:toolingUSD)}" if current_user.role != 'factory'%></th> <!-- Don't show USD to factory -->
				<th><%= "#{Cost.human_attribute_name(:description)}" %></th>
				<th><%= sortable "created_at", "#{Cost.human_attribute_name(:date)}"%></th>
				<th><%- "Action" if current_user.role == 'admin'%></th> <!-- Only admin can edit and delete the cost -->
			</tr>
		</thead>
		<tbody>
			<% @costs.order(date: :desc).each do |cost| %>
				<tr>
					<%if @project.nil?%> <!-- Check if table is accessed from project -->
						<td><%= link_to cost.project.project_name, project_path(id: cost.project.id) %></td>
					<%end%>
					<td><%= number_to_currency(cost.unitRMB, unit: '￥') %></td>
					<td><%= number_to_currency(cost.toolingRMB, unit: '￥') %></td>
					<td><%= number_to_currency(cost.unitUSD) if current_user.role != 'factory'%></td> <!-- Don't show USD to factory -->
					<td><%= number_to_currency(cost.toolingUSD) if current_user.role != 'factory'%></td> <!-- Don't show USD to factory -->
					<td><%= cost.description %></td>
					<td><%= cost.date.strftime("%m-%d-%y") if cost.date.present? %></td>
					<td>
						<% if current_user.role == 'admin'%> <!-- Only admin can edit and delete cost -->
							<%= link_to t('edit_label'), edit_cost_url(id: cost.id)%>
							<%= link_to t('delete_label'), cost_url(id: cost.id), method: :delete, data: {confirm: "Are you sure?"}%>
						<%end%>
					</td>	
				</tr>
			<% end %>
		</tbody>
	</table>
</div>