<div class="panel panel-default panel-border-transparent">
  	<div class="panel-body">
    <%= form_tag(costs_path, method: :get) do %>
    	<%= hidden_field_tag :direction, params[:direction]%>
    	<%= hidden_field_tag :sort, params[:sort]%>
	    <div class="form-inline">
				<%= select_tag(:filter, options_for_select(project_select(current_user)), prompt: "Select Project", class: "form-control") %>
				<%= submit_tag 'Submit', class: "btn btn-default"%>
			</div>
		<% end %>
	</div>
</div>

<h1>Costs</h1>
<!-- Check if link from project -->
<em><%= link_to @project.project_name, project_path(@project.id) if @project.present?%></em> 
<!-- Only allow factory and admin create cost -->
<div class="text-right"><%= link_to "New cost", new_cost_path if current_user.role == 'factory' || 'admin' %></div>
<hr class="hr-table">
<!-- Cost list -->
<%= render "index_table"%>