<p><%= link_to 'New Sample', new_sample_path(project_id_param: object.id) %></p>

<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Received at</th>
			<th>Quantity</th>
			<th>Description</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<% object.samples.last(3).each do |sample| %>
			<tr>
				<td><%= sample.receive_date.strftime("%b %d. %Y") %></td>
				<td align = 'center'><%= sample.quantity %></td>
				<td><%= sample.description %></td>	
				<td>
					<%= link_to 'Edit', edit_sample_url(sample) %>
					<%= link_to 'Delete', sample_url(sample), method: :delete, data: {confirm: "Are you sure?"} %>
				</td>			
			</tr>
		<% end %>						
	</tbody>
</table>

<p>
	<% if object.samples.count > 3 %>
		<%= link_to 'All', samples_path(project_id_param: object.id) %>
	<% end %>
</p>