<div class="container-home">

	<div class="row">
		<div class="col-xs-12 col-md-12 col-no-padding">
	<!-- 
			<video autoplay muted loop class="home-video">
				<source src="<%= @video.video.url %>" type="video/mp4">
				<source src="<%= @video.video.url %>" type="video/webm">
			</video> -->
			<img class="img-responsive img-thumbnail project-image" src="/home_images/upper.jpg">
			<div class="jumbotron jumbotron-home" style="position:absolute">
			  <h1><%= t '.mainTitle'  %></h1>
			  <h4><%= t '.subtitle'  %></h4>
			  <button id="btn_scroll" class="btn-home-scroll">
			  	<span class="glyphicon glyphicon-menu-down" style="color:rgba(51,122,183,1)"></span>
			  </button>
			</div>
		</div>
	</div>
	<div  class="row">
		<div class="col-xs-12 col-md-4 col-no-padding">
			<%= render "home_image", src: "/home_images/Project.jpg", path: projects_path(stage: 'stage_all'), name: Project.model_name.human %>
		</div>
		<div class="col-xs-12 col-md-4 col-no-padding">
		<%= render "home_image", src: "/home_images/Sample.jpg", path: samples_path, name: Sample.model_name.human %>
		</div>
		<div class="col-xs-12 col-md-4 col-no-padding">
		<%= render "home_image", src: "/home_images/Product.jpg", path: products_path, name: Product.model_name.human %>
		</div>
	</div>
	<% if current_user.role != 'designer'  %>
		<div  class="row">
			<div class="col-xs-12 col-md-4 col-no-padding">
			<%= render "home_image", src: "/home_images/Report.jpg", path: reports_path, name: Report.model_name.human %>
			</div>
			<div class="col-xs-12 col-md-4 col-no-padding">
			<%= render "home_image", src: "/home_images/Po.jpg", path: pos_path, name: Po.model_name.human %>
			</div>
			<div class="col-xs-12 col-md-4 col-no-padding">
			<%= render "home_image", src: "/home_images/Cost.jpg", path: costs_path, name: Cost.model_name.human  %>
			</div>
		</div>
	<% end %>

<script>
	$(document).ready(function(){
		$("#btn_scroll").click(function () {
		  $('html,body').animate({
		      scrollTop: $(document).height()/2,
		  }, 1000);
		});
	})
</script>
