<% @projects.each do |project| %>
	<p>
		<h2><%= truncate(project.project_name, length: 60, separate: '') %></h2>
		<h3><%= project.user.fullname%></h3>
	</p>

	<%= render "costs_table", object: project, :number => 3 %>

	<p>
		<b>Task : </b>
		<% if project.tasks.present? %>			
			<%= project.tasks.last.executor %> -
			<%= project.tasks.last.task %>
		<% end %>		
	</p>

	<p>
		Sample will be received at: 
		<% if project.samples.present? %>			
			<b><%= project.samples.last.receive_date.strftime("%b %d. %y") %></b>
		<% end %>		
	</p>

	<%= render "products_index_table", object: project %>

	<p>
		<%= link_to 'More detail', home_path(project), method: :get %>
	</p>

	<hr>
<% end %>

<p><%= paginate @projects %></p>
