<div class="container-home">
	<div class="col-xs-12 col-md-12 col-no-padding">

		<video autoplay muted loop class="home-video">
			<source src="<%= @video.video.url %>" type="video/mp4">
			<source src="<%= @video.video.url %>" type="video/webm">
		</video><!-- 
		<img class="img-responsive img-thumbnail project-image" src="/home_images/upper.jpg"> style="position: fixed; z-index: 0; width: 100%; height: 710px"-->
		<div class="jumbotron jumbotron-home" style="position:relative;height:710px;padding-top:25%">
		  <h1>WELCOME NcSTAR</h1>
		  <h4>Manage Our Unique Projects Here</h4>
		</div>
	</div>

	<%= render "home_image", src: "/home_images/concept.jpg", path: projects_path, name: "PROJECTS"%>
	<%= render "home_image", src: "/home_images/mark.jpg", path: reports_path, name: "REPORTS" %>
	<%= render "home_image", src: "/home_images/scope.jpg", path: samples_path, name: "SAMPLES" %>
	<%= render "home_image", src: "/home_images/projects.jpg", path: products_path, name: "PRODUCTS" %>
	<%= render "home_image", src: "/home_images/mount.jpg", path: pos_path, name: "PO" if current_user.role != 'designer'%>
	<%= render "home_image", src: "/home_images/reflex sight.jpg", path: costs_path, name: "COSTS" if current_user.role != 'designer'%>

<script>
	var player;

	function onYouTubeIframeAPIReady() {
	    player = new YT.Player('ytplayer', {
	        events: {
	            'onReady': onPlayerReady
	        }
	    });
	}

	function onPlayerReady(event) {
	    player.mute();
	}
</script>
