
<p><%= link_to 'New Project', new_project_path %></p>

<% @projects.each do |project| %>
	<p>
		<h2><%= truncate(project.project_name, length: 60, separate: '') %></h2>
		<p><%= project.user.fullname%></p>
	</p>

	<%= render "costs_table", object: project, :number => 2 %>

	<p>
		<% if project.tasks.present? %>
			<b>Task : </b>			
			<%= project.tasks.last.executor %> -
			<%= project.tasks.last.task %>
		<% end %>		
	</p>

	<p>
		<% if project.samples.present? %>
			Sample will be received around: 			
			<b><%= project.samples.last.receive_date.strftime("%b %d. %y") %></b>
		<% end %>		
	</p>

	<%= render "products_index_table", object: project %>

	<p><%= link_to 'View detail', home_path(project), method: :get, class: "btn btn-secondary" %></p>

	<hr>
<% end %>

<p><%= paginate @projects %></p>
