
<div class="panel panel-default">
  <div class="panel-body">
    <%= form_tag(home_index_path, method: :get) do %>
	    <div class="form-inline">
				<%= select_tag(:filter, options_for_select(User.where("role LIKE ? or role LIKE ?", "factory", "admin").map { |user| [user.fullname] }), class: "form-control") %>
				<%= submit_tag 'Submit', class: "btn btn-default"%>
			</div>
		<% end %>
  </div>
</div>

<% @projects.each do |project| %>
	<div class="panel panel-info">
		<div class="panel-heading">
				<h2 class="project-heading">
				<a class="project-heading-word"><%= link_to  truncate(project.project_name, length: 60, separate: ''), home_path(project)%></a>
				</h2>
		</div>
		<div class="panel-body">
			<div class="col-md-4">
				<%= link_to image_tag(project.image.url(:index).to_s, class: "img-responsive img-thumbnail project-image"), home_path(project) %>
			</div>
			<div class="col-md-8">
				<em><%= project.user.fullname%></em>
				<p><%= project.status%></p>
				<p>
					<% if project.tasks.present? %>
						<b>Task : </b>			
						<%= project.tasks.last.executor %> -
						<%= project.tasks.last.task %>
					<% end %>		
				</p>
				<p>
					<% if project.samples.present? %>
						Sample will be received around: 			
						<b><%= project.samples.last.receive_date.strftime("%b %d. %y") %></b>
					<% end %>		
				</p>
				<%= render "costs_table", object: project, :number => 2 %>
				<%= render "products_index_list", object: project %>
			</div>
		</div>
	</div>
<% end %>


<p><%= paginate @projects %></p>
