<h1>Home#show</h1>

<h2><%= @project.project_name %></h2>

<p><%= link_to 'New Task', new_task_path(project_id_param: @project.id) %></p>

<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Executor</th>
			<th>Task</th>
			<th>Start at</th>
		</tr>
	</thead>
	<tbody>
		<% @project.tasks.last(3).each do |task| %>
			<tr>
				<td><%= task.executor %></td>
				<td><%= task.task %></td>
				<td><%= task.created_at.strftime("%d %b. %Y") %></td>				
			</tr>
		<% end %>						
	</tbody>
</table>

<p>
	<% if @project.tasks.count > 3 %>
		<%= link_to 'All', tasks_path(project_id_param: @project.id) %>
	<% end %>
</p>

<p><%= link_to 'New Product', new_product_path(project_id_param: @project.id) %></p>

<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Product name</th>
			<th>Item number</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @project.products.each do |product| %>
			<tr>
				<td><%= product.product_name %></td>
				<td><%= product.item_number %></td>
				<td>
					<%= link_to 'Edit', edit_product_path(product) %> |
					<%= link_to 'Delete', product_path(product), method: :delete, data: {confirm: "Are you sure?"} %>
				</td>
			</tr>			
		<% end %>			
	</tbody>
</table>
