<h2><%= @project.project_name %></h2>
<h3><%= @project.user.fullname%></h3>
<%= link_to 'Edit', edit_project_path(@project) %>

<%= render "costs_table", object: @project, :number => 10 %>

<%= render "samples_show_table", object: @project %>

<%= render "tasks_show_table", object: @project %>

<%= render "products_show_table", object: @project %>

			

