<div class="container container-user ">

<h1><%= Po.model_name.human %></h1><br/>
<%= render "search"%><br/>

<div class="text-right">
	<%= link_to t('new_label'), new_po_path if current_user.role == 'admin' %>
</div>
<hr class="hr-table">

<div class="table-responsive">
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th><%= sortable "po_number", "#{Po.human_attribute_name(:po_number)}"%></th>
			<th><%= sortable "date", "#{Po.human_attribute_name(:date)}" %></th>
			<% if current_user.role == 'admin' %>
				<th></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% @pos.each do |po| %>
			<tr>
				<td><%= link_to po.po_number,  po_url(id: po.id) %></td>
				<td><%= po.date.strftime("%m-%d-%y") %></td>
				<td>
					<%= link_to t('edit_label'), new_po_product_url(po_id: po.id) if current_user.role == 'admin' || current_user.role == 'user2'%>
					<%= link_to t('delete_label'), po_url(id: po.id), method: :delete, data: {confirm: "Are you sure?"} if current_user.role == 'admin' || current_user.role == 'user2'%>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
</div>

<%= paginate @pos, window: 3, outer_window: 1%>

</div>
