

<h1>Purchase Orders</h1>

<p><%= link_to "New PO", new_po_path, class: "pull-xs-right" if current_user.role == 'admin' %></p>

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>PO Number</th>
			<th>Date</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<% @pos.each do |po| %>
			<tr>
				<td><%= po.po_number %></td>
				<td><%= po.date.strftime("%d-%m-%y") %></td>
				<td>
					<%= link_to 'View', po_url(po) %>
					<%= link_to 'Edit', new_po_product_url(po_id: po.id) if current_user.role == 'admin'%>
					<%= button_to 'Delete', po_url(po), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-sm btn-default" if current_user.role == 'admin'%>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
