<div class="panel panel-default panel-show">


	<%= render "show_table_heading", name: Cost.model_name.human, path: new_cost_path(project_id_param: @project.id), role: (current_user.role == ('admin' || 'factory')) && action_name == 'show'%>

	<div class="panel-body panel-home-show">
		<% if object.costs.present? %>
			<table class="table table-condensed">
				<thead>
					<tr>
						<% if current_user.role != 'factory'%>
							<th><%= Cost.human_attribute_name(:unitUSD) %></th>
							<th><%= Cost.human_attribute_name(:toolingUSD) %></th>
						<% end %>
						<% if current_user.role == 'factory'%>
							<th><%= Cost.human_attribute_name(:unitRMB) %></th>
							<th><%= Cost.human_attribute_name(:toolingRMB) %></th>
						<% end %>
						<th><%= Cost.human_attribute_name(:description) %></th>
						<% if request.fullpath.include? object.id.to_s %>
							<% if current_user.role != 'user' %>
								<th><%= Cost.human_attribute_name(:date) %></th>
								<th><%= Cost.human_attribute_name(:action) %></th>
							<% end %>
						<% end %>
					</tr>
				</thead>
				<tbody>
					<% object.costs.order(created_at: :desc).first(number).each do |cost| %>
						<tr>
							<% if current_user.role != 'factory'%>
								<td><%= number_to_currency(cost.unitUSD) %></td>
								<td><%= number_to_currency(cost.toolingUSD) %></td>
							<% end %>
							<% if current_user.role == 'factory'%>
								<td><%= number_to_currency(cost.unitRMB, unit: "￥") %></td>
								<td><%= number_to_currency(cost.toolingRMB, unit: "￥") %></td>
							<% end %>
							<td><%= truncate(cost.description, length: 40, seperate: '') %></td>
							<% if request.fullpath.include? object.id.to_s %>
								<% if current_user.role != 'user' %>
									<td><%= cost.created_at.strftime("%d %b. %y")%></td>
									<td>
									<%= link_to t('edit_label'), edit_cost_url(id: cost.id) %>
									<%= link_to t('delete_label'), cost_url(id: cost.id), method: :delete, data: {confirm: "Are you sure?"}%>
									</td>
								<% end %>
							<% end %>
						</tr>
					<% end %>
				</tbody>
			</table>
		<% end %>
	</div>
	<div class="panel-footer text-right">
		<% if object.costs.count > 3 %>
			<%= link_to 'All', costs_path(project_id_param: object.id)%>
		<% end %>
	</div>
</div>