<P><%= render "validation_errors", object:  @project%><P>

<%= form_for @project do |f| %>
	<p>
		<%= f.label :project_name %><br>
		<%= f.text_field :project_name %>
	</p>

	<p>
		<%= f.select :user_id, User.where(:role => 'factory').collect {|u| [u.fullname, u.id]}, {prompt: "Select factory" } %>
	</p>

	<p>
		<%= f.label :description %><br>
		<%= f.text_area :description, size: "40x20" %>
	</p>
			
	<P><%= f.submit %></P>
<% end %>