<P><%= render "validation_errors", object:  @project%><P>

<%= form_for @project, class: "form-horizontal", :html => {:multipart => true} do |f| %>

	<div class="row row-form">
		<div class="col-sm-2">
			<%= f.label :project_name, class: "control-label" %>
		</div>
		<div class="col-sm-10">
			<%= f.text_field :project_name, class: "form-control", placeholder: "Project Name" %>
		</div>
	</div>

	<div class="row row-form">
		<div class="col-sm-2">
			<%= f.label :patent_number, class: "control-label" %>
		</div>
		<div class="col-sm-10">
			<%= f.text_field :patent_number, class: "form-control", placeholder: "Patent Number" %>
		</div>
	</div>

	<div class="row row-form">
		<div class="col-sm-2">
			<%= f.label :description, class: "control-label" %>
		</div>
		<div class="col-sm-10">
			<%= f.text_area :description, class: "form-control"%>
		</div>
	</div>

	<div class="row row-form">
		<div class="col-sm-2">
			<%= f.label "Image", class: "control-label" %>
		</div>
		<div class="col-sm-10">
			<%= f.file_field :image, class: "btn btn-default" %>
		</div>
	</div>

	<div class="row row-form">
		<div class="col-sm-2">
			<%= f.label "Or image url",class: "control-label"   %>
		</div>
		<div class="col-sm-10">
			<%= f.text_field :remote_image_url, class: "form-control" %>
		</div>
	</div>	

	<div class="row row-form">
		<div class="col-sm-2">
			<%= f.label "Factory", class: "control-label" %>
		</div>
		<div class="col-sm-10">
			<%= f.select :user_id, User.order(fullname: :asc).where("role LIKE ? or role LIKE ?", "factory", "admin").collect {|u| [u.fullname, u.id]}, {prompt: "Select factory" }, class: "form-control" %>
		</div>
	</div>

	<div class="row row-form">
		<div class="col-sm-2">
			<%= f.label :status, "Status", class: "control-label" %>
		</div>
		<div class="col-sm-10">
			<%= f.select :status, StatusOption.all.collect {|r| [r.name]}, {prompt: "Select status" }, class: "form-control" %>
		</div>
	</div>

	<div class="row row-form">
		<div class="col-sm-2">
			<%= f.label :problem, class: "control-label" %>
		</div>
		<div class="col-sm-10">
			<%= f.text_area :problem, class: "form-control"%>
		</div>
	</div>


	<div class="row row-form">
		<div class="col-sm-offset-2 col-sm-10">
			<%= f.submit :Submit, class: "btn btn-default" %>
		</div>
	</div>

<% end %>
