<% if object.products.present? %>
		<table class="table table-condensed">
			<tbody>
				<% object.products.order(created_at: :desc).each do |product| %>
					<tr>
						<td><%= product.item_number %></td>
						<td><%= number_to_currency(product.cost.unitUSD) if product.cost.present?%></td>
						<td><%= number_to_currency(product.cost.toolingUSD)  if product.cost.present? %></td>
						<td class="dropdown text-right">
							<%if product.po_products.present?%>
					            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%="Pos"%><span class="caret"></span></a>
					            <ul class="dropdown-menu">
					            	<% product.po_products.joins(:po).order('date DESC').each do |p| %>
					              	<li><%=link_to "#{p.quantity} in #{p.po.po_number}", po_path(p.po) %></li>
					              <% end %>
					            </ul>
				            <%end%> 
				        </td>
					</tr>
				<% end %>
			</tbody>
		</table>
<% end %>
	