<div class="panel panel-default ">
	<div class="panel-heading">
		<div class="row">
			<div class="col-sm-11"><div class="project-show-table-head">Samples</div></div>
			<div class="col-sm-1">
				<% if current_user.role != 'user' %>
					<%= link_to "", new_sample_path(project_id_param: object.id), class: "glyphicon glyphicon-plus"%>
				<% end %>
			</div>
		</div>
	</div>

	<div class="panel-body panel-home-show">
		<% if object.samples.present? %>
			<table class="table table-striped table-condensed">
				<thead>
					<tr>
						<th>Received at</th>
						<th>Quantity</th>
						<th>Description</th>
						<% if current_user.role != 'user' %>
							<th>Action</th>
						<% end %>
					</tr>
				</thead>
				<tbody>
					<% object.samples.order(created_at: :desc).last(3).each do |sample| %>
						<tr>
							<td><%= sample.receive_date.strftime("%b %d. %Y") %></td>
							<td align = 'center'><%= sample.quantity %></td>
							<td><%= truncate(sample.description, length: 45, seperate: '' ) %></td>
							<% if current_user.role != 'user' %>	
								<td>
									<%= link_to 'Edit |', edit_sample_url(sample) %>
									<%= link_to 'Delete', sample_url(sample), method: :delete, data: {confirm: "Are you sure?"} %>
								</td>
							<% end %>			
						</tr>
					<% end %>						
				</tbody>
			</table>
		<% end %>
	</div>
	<div class="panel-footer text-right">
		<% if object.samples.count > 3 %>
			<%= link_to 'All', samples_path(project_id_param: object.id)%>
		<% end %>
	</div>
</div>
