<div class="panel panel-default panel-show">

	<%= render "show_table_heading", name: 'Products', path: new_product_path(project_id_param: object.id), role: current_user.role == 'admin'%>

	<div class="panel-body panel-home-show">
		<% object.products.order(product_name: :asc).each do |product| %>
			<div class="panel panel-default panel-default-product">
				<div class="panel-heading">
					<div class="lead display-1"><%= link_to product.item_number, product_path(id: product.id) %></div>
				</div>
				<div class="panel-body panel-home-show">
				<div class="table-responsive">
					<table class="table table-condensed " >
						<tr>
							<th>Unit Cost: </th>
							<td><%= number_to_currency(product.cost.unitUSD) if product.cost.present? %></td>
						</tr>
						<tr>
							<th>Tooling Fee: </th>
							<td><%= number_to_currency(product.cost.toolingUSD) if product.cost.present? %></td>
						</tr>
						<tr>
							<th>Package: </th>
							<td><%= simple_format(product.Package) %></td>
						</tr>
						<tr>
							<th>Mark: </th>
							<td><%= simple_format(product.Mark) %></td>
						</tr>
						<tr>
							<th>Instruction: </th>
							<td><%= simple_format(product.Instruction) %></td>
						</tr>
						<tr>
							<th>Reminder: </th>
							<td><%= simple_format(product.reminder) %></td>
						</tr>
					</table><br />
					</div>

					<% if current_user.role != 'designer' %>
						<% if product.po_products.present?%>
							<table class="table table-hover">
								<thead>
									<tr>
										<th>PO number</th>
										<th>Quantity</th>
										<th>Created at</th>
									</tr>
								</thead>
								<tbody>
									<% product.po_products.joins(:po).order("date DESC").first(3).each do |po_product| %>
										<tr>
											<td><%=link_to po_product.po.po_number, po_path(id: po_product.po.id) %></td>
											<td><%= po_product.quantity %></td>
											<td><%= po_product.po.date.strftime("%d-%m-%y") %></td>	
										</tr>
									<% end %>						
								</tbody>
							</table>
						<% else %>
							<p class="text-center"><b> No PO yet ~!</b></p>
						<%end%>
					<%end%>
				</div>
				<% if current_user.role == 'admin' %>
					<div class="panel-footer text-right">
						<%= link_to 'Edit', edit_product_path(id: product.id) %> |
						<%= link_to 'Delete', product_path(id: product.id), method: :delete, data: {confirm: "Are you sure?"} %>
					</div>	<!-- panel-heading -->
				<% end %>
			</div>		<!-- panle panel-default -->	<!-- col-ex-12 col-md-6 -->
		<% end %>
	</div>
</div>




