<div class="panel panel-default panel-show">

	<%= render "show_table_heading", name: Report.model_name.human, path: new_report_path(project_id_param: @project.id), role: current_user.role == 'admin'%>

	<div class="panel-body panel-home-show">
		<% if object.reports.present? %>
			<table class="table table-condensed">
				<thead>
					<tr>
						<th>Date</th>
						<th>Title</th>
						<th></th>
						<th class="text-right"></th>
					</tr>
				</thead>
				<tbody>
					<% object.reports.order(date: :desc).first(3).each do |report| %>
						<tr>
							<td><%= report.date.strftime("%m-%d-%y") if report.date.present?%></td>
							<td><%= link_to truncate(report.name, length: 60, separate: ''), report_url(id: report.id), method: :get  %></td>	
							<td><%= link_to 'Attachment', "https://docs.google.com/viewer?url=#{report.report.url}" if @report.present?%></b> <%= link_to '', report.report.url, class: "glyphicon glyphicon-download-alt" if @report.present?%></td>	
							<td class="text-right">
								<% if current_user.role == 'admin' %>
									<%= link_to t('edit_label'), edit_report_url(id: report.id) %>
									<%= link_to t('delete_label'), report_url(id: report.id), method: :delete, data: {confirm: "Are you sure?"} %>
								<% end %>	
							</td>			
						</tr>
					<% end %>						
				</tbody>
			</table>
		<% end %>
	</div>
	<div class="panel-footer text-right">
		<% if object.reports.count > 3 %>
			<%= link_to 'All', reports_path(project_id_param: object.id)%>
		<% end %>
	</div>
</div>

