<div class="panel panel-default ">

	<%= render "show_table_heading", name: 'Samples',path:  new_sample_path(project_id_param: object.id), role: current_user.role == ('admin' && 'factory') %>

	<div class="panel-body panel-home-show">
		<% if object.samples.present? %>
			<table class="table table-striped table-condensed">
				<thead>
					<tr>
						<th>ETA</th>
						<th>QTY</th>
						<th>Description</th>
						<% if current_user.role != 'user' %>
							<th>Action</th>
						<% end %>
					</tr>
				</thead>
				<tbody>
					<% object.samples.order(receive_date: :desc).first(3).each do |sample| %>
						<tr>
							<td><%= sample.receive_date.strftime("%d %b. %Y") %></td>
							<td align = 'center'><%= sample.quantity %></td>
							<td><%= truncate(sample.description, length: 45, seperate: '' ) %></td>
							<% if current_user.role != 'user' %>	
								<td>
									<%= link_to 'Edit |', edit_sample_url(sample) %>
									<%= link_to 'Delete', sample_url(sample), method: :delete, data: {confirm: "Are you sure?"} %>
								</td>
							<% end %>			
						</tr>
					<% end %>						
				</tbody>
			</table>
		<% end %>
	</div>
	<div class="panel-footer text-right">
		<% if object.samples.count > 3 %>
			<%= link_to 'All', samples_path(project_id_param: object.id)%>
		<% end %>
	</div>
</div>
