<% if current_user.role == 'Admin' %>
	<%= link_to 'New Purchase Order', new_po_path(project_id_param: object.id), class: "pull-xs-right" %>
<% end %>

<table class="table table-condensed">
	<thead>
		<tr>
			<th>PO Number</th>
			<th>Date</th>
			<th class="text-right"></th>
		</tr>
	</thead>
	<tbody>
		<% if object.pos.present? %>
			<% object.pos.order(created_at: :desc).last(3).each do |po| %>
				<tr>
					<td><%= po.po_number %></td>
					<td><%= po.date.strftime("%m-%d-%y") %></td>
					<td class="text-right">
						<%= link_to t('view_label'), po_url(id: po.id) %> |
						<%= link_to t('edit_label'), new_po_product_url(po_id: po.id) if current_user.role == 'admin'%> |
						<%= link_to t('delete_label'), po_url(id: po.id), method: :delete, data: {confirm: "Are you sure?"} if current_user.role == 'admin'%>
					</td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>

