<div class="panel panel-default panel-show">
	<%= render "show_table_heading", name: 'Tasks', path: new_task_path(project_id_param: object.id), role: current_user.role == 'admin'%>

	<div class="panel-body panel-home-show">
		<% if object.tasks.present? %>
			<table class="table table-condensed">
				<thead>
					<tr>
						<th>Executor</th>
						<th>Task</th>
						<th>Start at</th>
						<th><%= "#{"Action" if current_user.role == 'admin'}" %></th>
					</tr>
				</thead>
				<tbody>
					<% object.tasks.order(created_at: :desc).last(3).each do |task| %>
						<tr>
							<td><%= task.executor.fullname if task.executor.present? %></td>
							<td><%= truncate(task.task, length: 45, seperate: '') %></td>
							<td><%= task.created_at.strftime("%d %b. %Y") %></td>
							<% if current_user.role == 'admin' %>	
								<td>
									<%= link_to 'Edit |', edit_task_url(task) %>
									<%= link_to 'Delete', task_url(task), method: :delete, data: {confirm: "Are you sure?"} %>
								</td>
							<% end %>			
						</tr>
					<% end %>						
				</tbody>
			</table>
		<% end %>
	</div>
	<div class="panel-footer text-right">
		<% if object.tasks.count > 3 %>
			<%= link_to 'All', tasks_path(project_id_param: object.id)%>
		<% end %>
	</div>
</div>