<div class="panel panel-default panel-show">
	<%= render "show_table_heading", name: Task.model_name.human, path: new_task_path(project_id_param: object.id), role: current_user.role == 'admin'%>

	<div class="panel-body panel-home-show">
		<% if object.tasks.present? %>
			<table class="table table-condensed">
				<thead>
					<tr>
						<th>Executor</th>
						<th>Task</th>
						<th>Start at</th>
						<th>Deadline</th>
						<th class="text-right"></th>
					</tr>
				</thead>
				<tbody>
					<% object.tasks.order(deadline: :desc).first(3).each do |task| %>
						<tr>
							<td><%= task.executor.fullname if task.executor.present? %></td>
							<td><%= truncate(task.task, length: 45, seperate: '') %></td>
							<td><%= task.start_date.strftime("%m-%d-%y") if task.start_date.present? %></td>
							<td><%= task.deadline.strftime("%m-%d-%y") if task.deadline.present?%></td>
							<% if current_user.role == 'admin' %>	
								<td class="text-right">
									<%= link_to t('edit_label'), edit_task_url(id: task.id) %>
									<%= link_to t('delete_label'), task_url(id: task.id), method: :delete, data: {confirm: "Are you sure?"} %>
								</td>
							<% end %>			
						</tr>
					<% end %>						
				</tbody>
			</table>
		<% end %>
	</div>
	<div class="panel-footer text-right">
		<% if object.tasks.count > 3 %>
			<%= link_to 'All', tasks_path(project_id_param: object.id)%>
		<% end %>
	</div>
</div>