<div class="panel panel-default panel-show">

	<%= render "show_table_heading", name: Report.model_name.human, path: new_report_path(project_id_param: @project.id), role: current_user.role == 'admin'%>

	<div class="panel-body panel-home-show">
		<% if object.reports.present? %>
			<table class="table table-condensed">
				<thead>
					<tr>
						<th>Date</th>
						<th>Title</th>
						<th><%= "#{"Action" if current_user.role == 'admin'}" %></th>
					</tr>
				</thead>
				<tbody>
					<% object.reports.order(created_at: :desc).last(3).each do |report| %>
						<tr>
							<td><%= report.created_at.strftime("%d %b. %y") %></td>
							<td><%= truncate(report.name, length: 60, separate: '') %></td>	
							<td>
								<%= link_to 'View ', report_url(report), method: :get %>
								<% if current_user.role == 'admin' %>
									<%= link_to t('edit_label'), edit_report_url(report) %>
									<%= link_to t('delete_label'), report_url(report), method: :delete, data: {confirm: "Are you sure?"} %>
								<% end %>	
							</td>			
						</tr>
					<% end %>						
				</tbody>
			</table>
		<% end %>
	</div>
	<div class="panel-footer text-right">
		<% if object.reports.count > 3 %>
			<%= link_to 'All', reports_path(project_id_param: object.id)%>
		<% end %>
	</div>
</div>

