<h1>Projects#edit</h1>

<P><%= render "validation_errors", object:  @project%><P>

<%= form_for @project do |f| %>
	<p>
		<%= f.label :project_name %><br>
		<%= f.text_field :project_name %>
	</p>

	<P><%= f.submit %></P>
<% end %>
