
<div class="navbar-back" style="margin:0px">
</div>
<div class="container">
  <div id="project-navbar" class="navbar-nav navbar-static-top" style="margin:0px">
    <div class="navbar-header">
      <button type="button" class="project-navbar-button navbar-toggle " data-toggle="collapse" data-target="#projectCollapse" aria-expanded="false" style="margin:0px">
        <span class="sr-only">Toggle navigation</span>
        <div class="btn btn-default">Stages</div>
      </button>
    </div>
    <div id="projectCollapse" class="navbar-collapse collapse" aria-expanded="false">
      <ul id='projectTab' class="nav navbar-default nav-tabs nav-justified nav-project-tab">
        <li class="<%='active' if @projects_0.present? %>", id="0">
          <a href="<%= projects_path(params.merge(stage: 'stage_0', page: 0)) %>"><span class="badge badge-black"><%= @data.where(status: "0. Need to be fixed").count if @data.where(status: "0. Need to be fixed").count > 0 %></span> Issues</a>
        </li>
        <li class="<%='active' if @projects_1.present? %>", id="1">
          <a href="<%= projects_path(params.merge(stage: 'stage_1', page: 0)) %>"><span class="badge badge-black"><%= @data.where(status: "1. Hold for some reason").count if @data.where(status: "1. Hold for some reason").count > 0 %></span>Standby</a>
        </li> 
        <li class="<%='active' if @projects_2.present? %>", id="2">
          <a href="<%= projects_path(params.merge(stage: 'stage_2', page: 0)) %>"><span class="badge badge-black"><%= @data.where(status: "2. Concept design").count if @data.where(status: "2. Concept design").count > 0 %></span> Concept</a>
        </li> 
        <li class="<%='active' if @projects_3.present? %>", id="3">
          <a href="<%= projects_path(params.merge(stage: 'stage_3', page: 0)) %>"><span class="badge badge-black"><%= @data.where(status: "3. Received prototypes or samples").count if @data.where(status: "3. Received prototypes or samples").count > 0 %></span> Samples</a>
        </li> 
        <li class="<%='active' if @projects_4.present? %>", id="4">
          <a href="<%= projects_path(params.merge(stage: 'stage_4', page: 0)) %>"><span class="badge badge-black"><%= @data.where(status: "4. Design package and start producing").count if @data.where(status: "4. Design package and start producing").count > 0 %></span> Package</a>
        </li> 
        <li class="<%='active' if @projects_5.present? %>",id="5">
          <a href="<%= projects_path(params.merge(stage: 'stage_5', page: 0)) %>"><span class="badge badge-black"><%= @data.where(status: "5. In production").count if @data.where(status: "5. In production").count > 0 %></span> Production</a>
        </li> 
        <li class="<%='active' if @projects_6.present? %>",id="6">
          <a href="<%= projects_path(params.merge(stage: 'stage_6', page: 0)) %>"><span class="badge badge-black"><%= @data.where(status: "6. Droped").count if @data.where(status: "6. Droped").count > 0 %></span> Droped</a>
        </li>   
         <li class="<%='active' if @projects_all.present? %>", id="7">
          <a href="<%= projects_path(params.merge(stage: 'stage_all')) %>"><span class="badge badge-black"><%= @data.count%></span> All</a>
        </li>  
      </ul>
    </div>
  </div>

  <div id="project0"><%= render "index_projects", object: @projects_0 if @projects_0.present?%></div>
  <div id="project1"><%= render "index_projects", object: @projects_1 if @projects_1.present?%></div>
  <div id="project2"><%= render "index_projects", object: @projects_2 if @projects_2.present?%></div>
  <div id="project3"><%= render "index_projects", object: @projects_3 if @projects_3.present?%></div>
  <div id="project4"><%= render "index_projects", object: @projects_4 if @projects_4.present?%></div>
  <div id="project5"><%= render "index_projects", object: @projects_5 if @projects_5.present?%></div>
  <div id="project6"><%= render "index_projects", object: @projects_6 if @projects_6.present?%></div>
  <div id="project7"><%= render "index_projects", object: @projects_all if @projects_all.present?%></div>


</div>



<script>
$(document).ready(function(){
	// $("ul#projectTab li").click(function(){
	// event.preventDefault();
 //    divID = 'div#project' + this.id;
 //    $("div#project0, div#project1, div#project2, div#project3, div#project4, div#project5, div#project6").hide();
 //    $(divID).show();
 //    if(this.id == 7){
 //      $("div#project0, div#project1, div#project2, div#project3, div#project4, div#project5, div#project6").show();
 //    }
 //    $("li#0, li#1, li#2, li#3, li#4, li#5, li#6, li#7").removeClass("active");
 //    $(this).addClass("active");
	// });

  $(".show-project-detail .up-arrow").click(function() {
    $(this).parent("div").removeClass("show-project-detail", 1000);
    $(this).hide();
    $(this).next("div").show();
  });
    $(".show-project-detail .down-arrow").click(function() {
    $(this).parent("div").addClass("show-project-detail", 1000);
    $(this).hide();
    $(this).prev("div").show();
  });

  // Change navbar when scroll down
  $(window).scroll(function () {
    var top = $(this).scrollTop();
    if(top>400) {
      $("#project-navbar").removeClass("navbar-nav navbar-static-top");
      $("#project-navbar").addClass("navbar-nav navbar-fixed-top");
    }
    if(top<=400) {
      $("#project-navbar").addClass("navbar-nav navbar-static-top");
      $("#project-navbar").removeClass("navbar-nav navbar-fixed-top");
    }
  })
})
	
</script>