

<div class="panel panel-default panel-border-transparent">
  <div class="panel-body">
	  <% if current_user.role != "factory" %>
	    <%= form_tag(projects_path, method: :get) do %>
		    <div class="form-inline">
					<%= select_tag(:filter, options_for_select(User.where("role LIKE ? or role LIKE ?", "factory", "admin").map { |user| [user.fullname] }), prompt: "Select Facotory", class: "form-control") %>
					<%= submit_tag 'Submit', class: "btn btn-default"%>
				</div>
			<% end %>
		<% end %>
  </div>
</div>

<ul id='projectTab' class="nav navbar-default nav-tabs">
  <li id="0"><%= link_to "1. Need to be Fixed", '#' %></li>  
  <li id="1"><%= link_to "2. Hold", '#' %></li> 
  <li id="2"><%= link_to "3. Concept Design", '#' %></li>
  <li id="3"><%= link_to "4. Samples Received", '#' %></li>
  <li id="4"><%= link_to "5. Design Package", '#' %></li>
  <li id="5"><%= link_to "6. In production", '#' %></li>
  <li id="6"><%= link_to "7. Droped", '#' %></li>
</ul>

<div id="project0"><%= render "projects_index", object: @projects.where(status: "0. Need to be fixed") %></div> <br/>
<div id="project1"><%= render "projects_index", object: @projects.where(status: "1. Hold for some reason") %></div> <br/>
<div id="project2"><%= render "projects_index", object: @projects.where(status: "2. Concept design") %></div> <br/>
<div id="project3"><%= render "projects_index", object: @projects.where(status: "3. Received prototypes or samples") %></div> <br/>
<div id="project4"><%= render "projects_index", object: @projects.where(status: "4. Design package and start producing") %></div> <br/>
<div id="project5"><%= render "projects_index", object: @projects.where(status: "5. In production") %></div> <br/>
<div id="project6"><%= render "projects_index", object: @projects.where(status: "6. Droped") %></div> <br/>



<script>
$(document).ready(function(){
	$("ul#projectTab li").click(function(){
	event.preventDefault();
    divID = 'div#project' + this.id;
    $("div#project0, div#project1, div#project2, div#project3, div#project4, div#project5, div#project6").hide();
    $(divID).show();
    $("li#0, li#1, li#2, li#3, li#4, li#5, li#6").removeClass("active");
    $(this).addClass("active");
	});
})
	
</script>