
<div id="project-navbar" class="navbar-nav navbar-static-top" style="margin:0px">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#projectCollapse" aria-expanded="false" style="margin: 0px;padding-right: 0px;">
      <span class="sr-only">Toggle navigation</span>
      <div class="btn btn-default">All</div>
    </button>
  </div>
  <div id="projectCollapse" class="navbar-collapse collapse" aria-expanded="false">
    <ul id='projectTab' class="nav navbar-default nav-tabs nav-justified nav-project-tab">
      <li id="0">
        <a href='#'><span class="badge badge-black"><%= @data.where(status: "0. Need to be fixed").count if @data.where(status: "0. Need to be fixed").count > 0 %></span> Problems</a>
      </li>
      <li id="1">
        <a href='#'><span class="badge badge-black"><%= @data.where(status: "1. Hold for some reason").count if @data.where(status: "1. Hold for some reason").count > 0 %></span> Hold</a>
      </li> 
      <li id="2">
        <a href='#'><span class="badge badge-black"><%= @data.where(status: "2. Concept design").count if @data.where(status: "2. Concept design").count > 0 %></span> Concept</a>
      </li> 
      <li id="3">
        <a href='#'><span class="badge badge-black"><%= @data.where(status: "3. Received prototypes or samples").count if @data.where(status: "3. Received prototypes or samples").count > 0 %></span> Samples</a>
      </li> 
      <li id="4">
        <a href='#'><span class="badge badge-black"><%= @data.where(status: "4. Design package and start producing").count if @data.where(status: "4. Design package and start producing").count > 0 %></span> Package</a>
      </li> 
      <li id="5">
        <a href='#'><span class="badge badge-black"><%= @data.where(status: "5. In production").count if @data.where(status: "5. In production").count > 0 %></span> Production</a>
      </li> 
      <li id="6">
        <a href='#'><span class="badge badge-black"><%= @data.where(status: "6. Droped").count if @data.where(status: "6. Droped").count > 0 %></span> Droped</a>
      </li>   
       <li class="active", id="7">
        <a href='#'><span class="badge badge-black"><%= @data.count%></span> All</a>
      </li>  
    </ul>
  </div>
</div>

<div id="project0"><%= render "index_projects", object: @projects.where(status: "0. Need to be fixed") %><hr></div>
<div id="project1"><%= render "index_projects", object: @projects.where(status: "1. Hold for some reason") %><hr></div>
<div id="project2"><%= render "index_projects", object: @projects.where(status: "2. Concept design") %><hr></div>
<div id="project3"><%= render "index_projects", object: @projects.where(status: "3. Received prototypes or samples") %><hr></div>
<div id="project4"><%= render "index_projects", object: @projects.where(status: "4. Design package and start producing") %><hr></div>
<div id="project5"><%= render "index_projects", object: @projects.where(status: "5. In production") %><hr></div>
<div id="project6"><%= render "index_projects", object: @projects.where(status: "6. Droped") %><hr></div>



<script>
$(document).ready(function(){
	$("ul#projectTab li").click(function(){
	event.preventDefault();
    divID = 'div#project' + this.id;
    $("div#project0, div#project1, div#project2, div#project3, div#project4, div#project5, div#project6").hide();
    $(divID).show();
    if(this.id == 7){
      $("div#project0, div#project1, div#project2, div#project3, div#project4, div#project5, div#project6").show();
    }
    $("li#0, li#1, li#2, li#3, li#4, li#5, li#6, li#7").removeClass("active");
    $(this).addClass("active");
	});

  $(".panel img").mouseover(function() {
    $(this).css({"max-height":"400px"});
    $(this).next('#project-index-panel').css({'border-color':'black'});
  });
  $(".panel img").mouseleave(function() {
    $(this).css({"max-height":"300px"});
    $(this).next('#project-index-panel').css({'border-color':'transparent'});
  });
  // Change navbar when scroll down
  $(window).scroll(function () {
    var top = $(this).scrollTop();
    if(top>400) {
      $("#project-navbar").removeClass("navbar-nav navbar-static-top");
      $("#project-navbar").addClass("navbar-nav navbar-fixed-top");
    }
    if(top<=400) {
      $("#project-navbar").addClass("navbar-nav navbar-static-top");
      $("#project-navbar").removeClass("navbar-nav navbar-fixed-top");
    }
  })
})
	
</script>