

<% if current_user.role != "factory" %>
  <div class="panel panel-default panel-border-transparent">
    <div class="panel-body">
      <%= form_tag(projects_path, method: :get) do %>
  	    <div class="form-inline">
  				<%= select_tag(:filter, options_for_select(User.where("role LIKE ? or role LIKE ?", "factory", "admin").order(fullname: :asc).map { |user| [user.fullname] }), prompt: "Select Facotory", class: "form-control") %>
  				<%= submit_tag 'Submit', class: "btn btn-default"%>
          <div class="text-right"><%= link_to 'New Project', new_project_path if current_user.role == 'admin'%></div>
  			</div>
  		<% end %>
    </div>
  </div>
<% end %>

<div class="navbar-nav">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle " data-toggle="collapse" data-target="#projectCollapse" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <div class="btn btn-default">All</div>
    </button>
  </div>
  <div id="projectCollapse" class="navbar-collapse collapse" aria-expanded="false">
    <ul id='projectTab' class="nav navbar-default nav-tabs nav-justified">
      <li id="0"><%= link_to "Fix Required", '#' %></li>  
      <li id="1"><%= link_to "Hold Now", '#' %></li> 
      <li id="2"><%= link_to "Concept Design", '#' %></li>
      <li id="3"><%= link_to "Samples Received", '#' %></li>
      <li id="4"><%= link_to "Design Package", '#' %></li>
      <li id="5"><%= link_to "In Production", '#' %></li>
      <li id="6"><%= link_to "Droped Project", '#' %></li>
      <li class="active", id="7"><%= link_to "All Projects", '#' %></li>  
    </ul>
  </div>
</div>

<div id="project0"><%= render "index_projects", object: @projects.where(status: "0. Need to be fixed") %></div>
<div id="project1"><%= render "index_projects", object: @projects.where(status: "1. Hold for some reason") %></div>
<div id="project2"><%= render "index_projects", object: @projects.where(status: "2. Concept design") %></div>
<div id="project3"><%= render "index_projects", object: @projects.where(status: "3. Received prototypes or samples") %></div>
<div id="project4"><%= render "index_projects", object: @projects.where(status: "4. Design package and start producing") %></div>
<div id="project5"><%= render "index_projects", object: @projects.where(status: "5. In production") %></div>
<div id="project6"><%= render "index_projects", object: @projects.where(status: "6. Droped") %></div>



<script>
$(document).ready(function(){
	$("ul#projectTab li").click(function(){
	event.preventDefault();
    divID = 'div#project' + this.id;
    $("div#project0, div#project1, div#project2, div#project3, div#project4, div#project5, div#project6").hide();
    $(divID).show();
    if(this.id == 7){
      $("div#project0, div#project1, div#project2, div#project3, div#project4, div#project5, div#project6").show();
    }
    $("li#0, li#1, li#2, li#3, li#4, li#5, li#6, li#7").removeClass("active");
    $(this).addClass("active");
	});

  $(".panel img").mouseover(function() {
    $(this).css({"margin-bottom":"50px"});
  });
  $(".panel img").mouseleave(function() {
    $(this).css({"margin-bottom":"0px"});
  });
})
	
</script>