
<div class="container-project-show">
		<div class="image-project-frame" style="padding:0px">
			<% if @project.image.present? %>
				<%= image_tag @project.image.url(:detail).to_s, class: "img-responsive" %>
			<% else %>		
				<%= image_tag @logo_black.image.url(:detail).to_s, class: "img-responsive" %>
			<% end %>
		</div>

	<div class="show-project-background">
		<div id="info_top"  class="container container-content">
				<div class="row">
					<div id="panel_grid" class="col-xs-12 col-md-4">
						<div id="project_info_panel">
							<div class="panel panel-default panel-project-title">
								<div class="panel-heading">
									<h3><%= @project.project_name %></h3>
									<em><%= @project.user.fullname%></em>
								</div>
								<div class="panel-body">
									<p><%= @project.description %></p>
									<% if @patent_projects.present?%>
										<table class="table table-striped table-hover">
											<tbody>
												<% @patent_projects.each do |patent_project| %>
												  <tr>
														<td><%= patent_project.patent.patent_type.to_s %></td>
														<td><%= patent_project.patent.docket_number.to_s %></td>
														<td><%= smart_patent_number patent_project %></td>
														<% if current_user.role == "admin" %>
															<td>
																<%= link_to "", edit_patent_path(id: patent_project.patent.id), class: "glyphicon glyphicon-edit" %>
															</td>
														<% end %>
													</tr>
												<% end %>
											</tbody>
										</table>
									<%end%>
								</div>
								<% if current_user.role == 'admin' %>
								<div class="panel-footer text-right">
									<%= link_to t('edit_label'), edit_project_path(id: @project.id) %>
									<%= link_to t('delete_label'), project_path(id: @project.id), method: :delete, data: {confirm: "Are you sure?"} if current_user.role == 'admin' %>
								</div>
								<% end %>
							</div>
							<% if @project.status == "0. Need to be fixed" %>
								<div class="panel panel-danger">
									<div class="panel-heading">
										<%= @project.problem %>
									</div>
								</div>
							<%end%>
							<div class="panel panel-default">
								<ul class="list-group">
									<% if current_user.role != "designer" && current_user.role != "factory"  %>
										<li class="list-group-item" style="text-align:right"><%= link_to t('.upload_instruction') , new_instruction_path(project_id_param: @project.id)%></li>
									<% end %>
									<% if @project.instructions.present? %>
										<% @project.instructions.each do |i|%>
											<li class="list-group-item">
												<b><%= link_to i.description, "https://docs.google.com/viewer?url=#{i.instruction.url}" %></b>
												<%= link_to 'Delete', instruction_url(id: i.id), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default btn-xs", style: "float:right"%>
												<%= link_to 'Edit', edit_instruction_url(id: i.id), class: "btn btn-default btn-xs", style: "float:right;padding-right:5px;"%>
												<%= link_to '', i.instruction.url, class: "glyphicon glyphicon-download-alt", style: "float:right;padding-right:5px;margin-top: 3px;"%>
											</li>
										<% end %>
									</ul>
								<%end%>
							</div>
							<div class="panel panel-default">
								<ul class="list-group">
									<% if current_user.role != "designer" && current_user.role != "factory" %>
										<li class="list-group-item" style="text-align:right"><%= link_to t('.upload_qcstandard') , new_qcstandard_path(project_id_param: @project.id)%></li>
									<% end %>
									<% if @project.qcstandards.present? %>
										<% @project.qcstandards.each do |i|%>
											<li class="list-group-item">
												<b><%= link_to i.description, "https://docs.google.com/viewer?url=#{i.file.url}" %></b>
												<%= link_to 'Delete', qcstandard_url(id: i.id), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default btn-xs", style: "float:right"%>
												<%= link_to 'Edit', edit_qcstandard_url(id: i.id), class: "btn btn-default btn-xs", style: "float:right;padding-right:5px;"%>
												<%= link_to '', i.file.url, class: "glyphicon glyphicon-download-alt", style: "float:right;padding-right:5px;margin-top: 3px;"%>
											</li>
										<% end %>
									</ul>
								<%end%>
							</div>
						</div>
					</div>

					<div class="col-xs-12 col-md-8">
						<%= render "costs_table", object: @project, :number => 3 if current_user.role != 'designer'%><br/>
						<%= render "show_table_samples", object: @project %><br/>
						<%= render "show_table_tasks", object: @project %><br/>
						<%= render "show_table_reports", object: @project if current_user.role != 'designer' %><br/>
						<%= render "show_table_products", object: @project %>
					</div>
				</div><!-- row -->
			</div><!-- container -->
	</div><!-- background -->
</div>

<script>

	$(document).ready(function() {
		// Change navbar when scroll down
	  	$(window).scroll(function () {
	  		var divWidth = $('#panel_grid').width(); 
				var infoTop = document.getElementById("info_top").offsetTop;
		    var top = $(this).scrollTop();
		    if (($(window).width() > 1000) && (top>infoTop)) {
		      $("#project_info_panel").addClass("panel-fixed-top");
		      $("#project_info_panel").width(divWidth);
		    } else {
		      $("#project_info_panel").removeClass("panel-fixed-top");
		      $("#project_info_panel").width(divWidth);
		    }
	  	});
	  	$(window).resize(function() {
	  		var divWidth = $('#panel_grid').width(); 
	  		if ($(window).width() > 1000) {
		      $("#project_info_panel").addClass("panel-fixed-top");
		    	$("#project_info_panel").width(divWidth);
		    } else {
		      $("#project_info_panel").removeClass("panel-fixed-top");
		      $("#project_info_panel").width(divWidth);
	  		}
			});
		    
	})	
</script>
			

