
<div class="container-project-show ">
	<div style="padding:0px"> 
		<div class="image-project-frame"><%= image_tag @project.image.url(:detail).to_s, class: "img-responsive" %></p>
	</div>

	<div class="show-project-background">
	<div id="info_top"  class="container">
		<div class="container-content">
			<div class="row">
				<div class="col-xs-12 col-md-4">
					<div id="project_info_panel">
					<div class="panel panel-default panel-project-title">
						<div class="panel-heading">
							<h3><%= @project.project_name %></h3>
							<em><%= @project.user.fullname%></em>
						</div>
						<div class="panel-body">
							<p><%= @project.description %></p>
							
							<% if @project.patent_number.present?%>
									<p>Patent Number: <b><%= @project.patent_number %></b></p>
							<%end%>
						</div>
						<% if current_user.role == 'admin' %>
						<div class="panel-footer text-right">
							<%= link_to t('edit_label'), edit_project_path(id: @project.id) %>
							<%= link_to t('delete_label'), project_path(id: @project.id), method: :delete, data: {confirm: "Are you sure?"} if current_user.role == 'admin' %>
						</div>
						<% end %>
					</div>
					<% if @project.status == "0. Need to be fixed" %>
						<div class="panel panel-danger">
							<div class="panel-heading">
								<%= @project.problem %>
							</div>
						</div>
					<%end%>
					<div class="panel panel-default">
						<ul class="list-group">
							<% if current_user.role != "designer" %>
								<li class="list-group-item" style="text-align:right"><%= link_to t('.upload_instruction') , new_instruction_path(project_id_param: @project.id)%></li>
							<% end %>
							<% if @project.instructions.present? %>
								<% @project.instructions.each do |i|%>
									<li class="list-group-item">
										<b><%= link_to i.description, "https://docs.google.com/viewer?url=#{i.instruction.url}" %></b>
										<%= link_to 'Delete', instruction_url(id: i.id), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default btn-xs", style: "float:right"%>
										<%= link_to 'Edit', edit_instruction_url(id: i.id), class: "btn btn-default btn-xs", style: "float:right;padding-right:5px;"%>
										<%= link_to 'Download', i.instruction.url, class: "btn btn-default btn-xs", style: "float:right;padding-right:5px;"%>
									</li>
								<% end %>
							</ul>
						<%end%>
					</div>

				</div>
				</div>

				<div class="col-xs-12 col-md-8">
					<%= render "costs_table", object: @project, :number => 3 if current_user.role != 'designer'%>
					<%= render "show_table_samples", object: @project %>
					<%= render "show_table_tasks", object: @project %><br>
					<%= render "show_table_reports", object: @project if current_user.role != 'designer' %><br>
					<%= render "show_table_products", object: @project %>
				</div>
			</div>

		</div>
	</div>
	</div>

</div>

<script>
	$(document).ready(function() {
		// Change navbar when scroll down
	  	$(window).scroll(function () {
				var infoTop = document.getElementById("info_top").offsetTop;
		    var top = $(this).scrollTop();
		    if ($(window).width() > 960) {
		  		if(top>infoTop) {
			      $("#project_info_panel").addClass("panel-fixed-top col-xs-11 col-sm-3");
			    } else {
			      $("#project_info_panel").removeClass("panel-fixed-top col-xs-11 col-sm-3");
			    }
  			}
	  	})
		    
	})	
</script>
			

