<p><%= link_to "New cost", new_cost_path if current_user.role != 'user'%></p>

<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Project Name</th>
			<th>U RMB</th>
			<th>T RMB</th>
			<th>U USD</th>
			<th>T USD</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<% object.last(2).each do |cost| %>
			<tr>
				<td><%= cost.project.project_name %></td>
				<td><%= number_to_currency(cost.unitRMB, unit: '￥') %></td>
				<td><%= number_to_currency(cost.toolingRMB, unit: '￥') %></td>
				<td><%= number_to_currency(cost.unitUSD) %></td>
				<td><%= number_to_currency(cost.toolingUSD) %></td>
				<td><%= cost.description %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<p><%= link_to "All", costs_path %></p>