<div class="panel panel-info">
	<div class="panel-heading">
		<h2><%= @current_user.fullname %></h2>
		<p><%= @current_user.email %><br>
		<%= link_to 'Edit Information', edit_user_registration_path(id: @current_user.id) %> </p>
	</div>
	<div class="panel-body">
		<ul class="list-unstyled">
			<li class="list-item"><%= link_to 'New project', new_project_path if current_user.role == "admin" %></li>
			<li class="list-item"><%= link_to 'New product', new_product_path if current_user.role == "admin" %></li>
			<li class="list-item"><%= link_to "New cost", new_cost_path if current_user.role != 'user'%></li>
			<li class="list-item"><%= link_to "New PO", new_po_path if current_user.role == ('admin' || 'user')%></li>
			<li class="list-item"><%= link_to "New report", new_report_path if current_user.role == 'admin'%></li>
			<li class="list-item"><%= link_to "New sample", new_sample_path if current_user.role != 'user'%></li>
		</ul>
	</div>
	<div class="panel-footer">
		<%= link_to "Sign out", destroy_user_session_path, method: :delete %>
	</div>
</div>