<div class="panel panel-info">
	<div class="panel-heading">
		<h2><%= @current_user.fullname %></h2>
		<p><%= @current_user.email %><br>
		<%= link_to t('.edit_info'), edit_user_registration_path(id: @current_user.id) %> </p>
	</div>
	<div class="panel-body">
		<ul class="list-unstyled">
			<li class="list-item"><%= link_to t('.new_project'), new_project_path if current_user.role == "admin" %></li>
			<li class="list-item"><%= link_to t('.new_product'), new_product_path if current_user.role == "admin" %></li>
			<li class="list-item"><%= link_to t('.new_cost'), new_cost_path if current_user.role == ('admin' || 'user')%></li>
			<li class="list-item"><%= link_to t('.new_po'), new_po_path if current_user.role == ('admin' || 'user')%></li>
			<li class="list-item"><%= link_to t('.new_report'), new_report_path if current_user.role == 'admin'%></li>
			<li class="list-item"><%= link_to t('.new_sample'), new_sample_path if current_user.role == ('admin' || 'factory')%></li>
		</ul>
	</div>
	<%if current_user.role == 'admin' || current_user.role == 'accounting'%>
		<div class="panel-body" style="border-top:1px solid black">
			<ul class="list-unstyled">
				<li class="list-item list-item-user-info">
					<div style="float:left">Import Products:</div>
					<%= form_tag import_products_path, id: 'import_products',multipart: true do  %>
						<%= file_field_tag :file, class: "form-control"%>
					<% end %>
					<script id='bar_product_upload' type="text/x-tmpl">
						<div class='upload'>
							{%=o.name%}
							<div class='progress'><div class='bar' style="width:0%;height: inherit;"></div></div>
						</div>
					</script>
				</li>
				<li class="list-item list-item-user-info">
					<div style="float:left">Import Pos:</div>
					<%= form_tag import_pos_path, id: 'import_pos', multipart: true do  %>
						<%= file_field_tag :file, class: "form-control"%>
					<% end %>
					<script id='bar_po_upload' type="text/x-tmpl">
						<div class='upload'>
							{%=o.name%}
							<div class='progress'><div class='bar' style="width:0%;height: inherit;"></div></div>
						</div>
					</script>
				</li>
			<% end %>
			<!--<%if current_user.role == 'admin' %>
				<li class="list-item list-item-user-info">
					<div style="float:left">Import Patents:</div>
					<%= form_tag import_patents_path, multipart: true do  %>
						<button type="submit" name="commit" style="background-color:transparent;border-width:0px;float:left">
							<span class="glyphicon glyphicon-upload" style="color:rgba(51,122,183,1)"></span>
						</button>
						<%= file_field_tag :file, class: "form-control"%>
					<% end %>
				</li>-->
			</ul>
		</div>
	<% end %>
	<div class="panel-footer">
		<%= link_to t('.sign_out'), destroy_user_session_path, method: :delete %>
	</div>
</div>