<div class="panel panel-info">
	<div class="panel-heading">
		<h2><%= @current_user.fullname %></h2>
		<p><%= @current_user.email %><br>
		<%= link_to t('.edit_info'), edit_user_registration_path(id: @current_user.id) %> </p>
	</div>
	<div class="panel-body">
		<ul class="list-unstyled">
			<li class="list-item"><%= link_to t('.new_project'), new_project_path if current_user.role == "admin" %></li>
			<li class="list-item"><%= link_to t('.new_product'), new_product_path if current_user.role == "admin" %></li>
			<li class="list-item"><%= link_to t('.new_cost'), new_cost_path if current_user.role == ('admin' || 'user')%></li>
			<li class="list-item"><%= link_to t('.new_po'), new_po_path if current_user.role == ('admin' || 'user')%></li>
			<li class="list-item"><%= link_to t('.new_report'), new_report_path if current_user.role == 'admin'%></li>
			<li class="list-item"><%= link_to t('.new_sample'), new_sample_path if current_user.role == ('admin' || 'factory')%></li>
		</ul>
	</div>
	<div class="panel-footer">
		<%= link_to t('.sign_out'), destroy_user_session_path, method: :delete %>
	</div>
</div>