<% if @missions.present? %>
	<div class="table-responsive">
		<table class="table table-striped table-condensed">
			<thead>
				<tr>
					<th><%= sortable("fullname", "#{Task.human_attribute_name(:executor)}") if current_user.role == 'admin' || current_user.role == 'user2'%></th>
					<th><%= Task.human_attribute_name(:task)%></th>
					<th><%= Project.human_attribute_name(:project_name)%></th>
					<th><%= sortable("deadline", "#{Task.human_attribute_name(:deadline)}")%></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @missions.order(deadline: :asc).each do |task| %>
					<tr>
						<td><%= task.executor.fullname if (current_user.role == 'admin' || current_user.role == 'user2') && task.executor.present? %></td>
						<td><%= task.task %></td>
						<td><%= link_to task.project.project_name, project_path(id: task.project.id) %></td>
						<td><%= task.deadline.strftime("%m-%d-%y") if task.deadline.present?%></td>
						<td>
							<%= button_to t('.finish'), task_path(id: task.id), method: :put, params: {finish_value: true}, class: "btn btn-default btn-xs" %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<%= paginate @missions, window: 3, outer_window: 1%>
<% end %>

