 <% content_for :navbar do %>
      <%= render 'nav_bar_current_user' %>
 <% end %>

<h1>CurrentUser#edit</h1>

<P><%= render "validation_errors", object:  @current_user %><P>

<%= form_for @current_user, :url => current_user_path do |f| %>
	<p>
		<%= f.label :fullname %><br>
		<%= f.text_field :fullname %>
	</p>

	<p>
		<%= f.label :email %><br>
		<%= f.text_field :email %>
	</p>

	<P><%= f.submit %></P>
<% end %>