

<div class="row">
	<div class="col-md-3">
		<div class="panel panel-info panel-user-info">
			<div class="panel-heading">
				<h2><%= @current_user.fullname %></h2>
				<p><%= @current_user.email %><br>
				<%= link_to 'Edit Information', edit_user_registration_path(@current_user) %> </p>
			</div>
			<div class="panel-body">
				<ul class="list-unstyled">
					<li class="list-item"><%= link_to 'New project', new_project_path if current_user.role == "admin" %></li>
					<li class="list-item"><%= link_to "New cost", new_cost_path if current_user.role != 'user'%></li>
					<li class="list-item"><%= link_to "New PO", new_po_path if current_user.role == 'admin' %></li>
					<li class="list-item"><%= link_to "New report", new_report_path if current_user.role == 'admin'%></li>
					<li class="list-item"><%= link_to "New sample", new_sample_path if current_user.role != 'user'%></li>
				</ul>
			</div>
			<div class="panel-footer">
				<%= link_to "Sign out", destroy_user_session_path, method: :delete %>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<div class="panel panel-info panel-user-info">
			<div class="panel-heading">
				<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th><%= "Executor" if current_user.role == 'admin'%></th>
								<th>Mission</th>
								<th>Deadline</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<%  @missions.each do |task| %>
								<tr>
									<td><%= task.executor.fullname if current_user.role == 'admin' && task.executor.present? %></td>
									<td><%= task.task %></td>
									<td><%= task.deadline.strftime("%m-%d-%y") if task.deadline.present?%></td>
									<td>
										<%= form_tag(task_path(task), method: :put) do %>
											<%= hidden_field_tag :finish_value, true %>
											<%= submit_tag 'Finish', class: "btn btn-default"%>
										<% end %>
									</td>
								</tr>
							<% end %>
						</tbody>
					</div>
				</table>
			</div>	
		</div>	
	</div>
</div> 