<P>
	<h2><%= @current_user.fullname %></h2>
	<%= @current_user.email %><br>
	<%= link_to 'Edit Information', edit_user_registration_path(@current_user) %> 
</P>

<%= render "pos_index_table", object: @pos %>

<%= render "reports_index_table", object: @reports %>

<%= render "costs_index_table", object: @costs %>

<%= render "samples_index_table", object: @samples %>

<%= link_to "Sign out", destroy_user_session_path, method: :delete %>