<div class="container-home">
  <div class="section">
    <img class="img-responsive img-thumbnail project-image" src="/home_images/upper.jpg">
    <img class="img-responsive img-thumbnail project-image" src="/home_images/concept.jpg">
    <img class="img-responsive img-thumbnail project-image" src="/home_images/mark.jpg">
    <img class="img-responsive img-thumbnail project-image" src="/home_images/mount.jpg">
    <img class="img-responsive img-thumbnail project-image" src="/home_images/projects.jpg">
    <img class="img-responsive img-thumbnail project-image" src="/home_images/reflex sight.jpg">
    <img class="img-responsive img-thumbnail project-image" src="/home_images/scope.jpg">
    <div hidden id="login-panel" class="panel panel-default panel-body panel-body-login">
        <h2>Sign in</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inline">
            <%= f.label :email, class: "form-label" %><br />
            <%= f.email_field :email, autofocus: true, class: "form-control"  %>
          </div>

          <div class="form-inline">
            <%= f.label :password, class: "form-label"  %><br />
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="form-inline">
              <%= f.check_box :remember_me, class: "form-control" %>
              <%= f.label :remember_me, class: "form-label" %>
            </div>
          <% end -%>

          <div class="actions">
            <p><%= f.submit "Sign in", class: "btn btn-default" %></p>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
    </div>
  </div>
</div>