<h1>Role Options</h1>

<p><%= link_to 'New Role Option', new_role_option_path %></p>

<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>name</th>
			<th>date</th>
			<th>actions</th>
		</tr>
	</thead>
	<tbody>
		<% @role_options.each do |role_option| %>
		<tr>
			<td><%= role_option.name %></td>
			<td><%= role_option.created_at.strftime("%Y-%m-%d") %></td>
			<td>
				<%= link_to 'Edit', edit_role_option_path(role_option) %> |
				<%= link_to 'Show', role_option_path(role_option) %> |
				<%= button_to 'Delete', role_option_path(role_option), method: :delete, data: {confirm: 'Are you sure ?'} %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>

<p><%= paginate @role_options %></p>
