<P><%= render "validation_errors", object: @product %><P>

<%= smart_form(@product, params[:controller]) do |f| %>
	<!-- Check if requiring to offer project select -->
	<% if @project.present? %>
		<%= f.hidden_field :project_id, :value => @project.id %>
	<% else %>
		<div class="row row-form">
			<div class="col-sm-2">
				<%= f.label :project_id,  class: "control-label" %>
			</div>
			<div class="col-sm-10">	
				<%= f.select :project_id, project_select(current_user), {prompt: :select}, class: "form-control" %>
			</div>
		</div>
	<% end %>

	<div class="row row-form">
		<div class="col-sm-2">
			<%= f.label :product_name, class: "control-label" %>
		</div>
		<div class="col-sm-10">
			<%= f.text_field :product_name, class: "form-control" %>
		</div>
	</div>
	<% if @product.project.present? %>
		<% if @product.project.patent_projects.present? %>
			<div class="row row-form">
				<div class="col-sm-2">
					<%= f.label :patent_id,  class: "control-label" %>
				</div>
				<div class="col-sm-10">	
					<%= f.select :patent_id, @product.project.patent_projects.collect {|p| [p.patent.docket_number, p.patent.id]}, {prompt: :select}, class: "form-control" %>
				</div>
			</div>
		<% end %>
	<% end %>

	<div class="row row-form">
		<div class="col-sm-2">
		<%= f.label :item_number, class: "control-label" %>
		</div>
		<div class="col-sm-10">
		<%= f.text_field :item_number, class: "form-control" %>
	</div>
	</div>

	<div class="row row-form">
		<div class="col-sm-2">
		<%= f.label :Package, class: "control-label" %>
		</div>
		<div class="col-sm-10">
		<%= f.text_area :Package, size: "40X20", class: "form-control" %>
	</div>
	</div>

	<div class="row row-form">
		<div class="col-sm-2">
		<%= f.label :Mark, class: "control-label" %>
		</div>
		<div class="col-sm-10">
		<%= f.text_area :Mark, size: "40X20", class: "form-control" %>
	</div>
	</div>

	<div class="row row-form">
		<div class="col-sm-2">
		<%= f.label :Instruction, class: "control-label" %>
		</div>
		<div class="col-sm-10">
		<%= f.text_area :Instruction, size: "40X20", class: "form-control" %>
	</div>
	</div>

	<div class="row row-form">
		<div class="col-sm-2">
		<%= f.label :reminder , class: "control-label"%>
		</div>
		<div class="col-sm-10">
		<%= f.text_area :reminder, size: "40X20", class: "form-control" %>
	</div>
	</div>

	<div class="row row-form">
		<div class="col-sm-2">
			<%= f.label :cost_id, class: "control-label"%>
		</div>
		<div class="col-sm-10">
			<%= f.select :cost_id, Cost.where(project_id: @product.project_id).collect {|t| [number_to_currency(t.unitUSD), t.id]}, {prompt: :select} , class: "form-control"%>
		</div>
	</div>

	<div class="row row-form">
		<div class="col-sm-2">
			<%= f.label :logo_image, class: "control-label" %>
		</div>
		<div class="col-sm-10">
			<%= f.file_field :logo_image, class: "btn" %>
		</div>
	</div>

	<div class="row row-form">
		<div class="col-sm-2">
			<%= f.label :remote_logo_image_url,class: "control-label"   %>
		</div>
		<div class="col-sm-10">
			<%= f.text_field :remote_logo_image_url, class: "form-control" %>
		</div>
	</div>	

	<div class="row row-form">
		<div class="col-sm-2">
			<%= f.label :patent_image, class: "control-label" %>
		</div>
		<div class="col-sm-10">
			<%= f.file_field :patent_image, class: "btn" %>
		</div>
	</div>

	<div class="row row-form">
		<div class="col-sm-2">
			<%= f.label :remote_patent_image_url,class: "control-label"   %>
		</div>
		<div class="col-sm-10">
			<%= f.text_field :remote_patent_image_url, class: "form-control" %>
		</div>
	</div>	

	<div class="row row-form">
		<div class="col-sm-2">
			<%= f.label :made_image, class: "control-label" %>
		</div>
		<div class="col-sm-10">
			<%= f.file_field :made_image, class: "btn" %>
		</div>
	</div>

	<div class="row row-form">
		<div class="col-sm-2">
			<%= f.label :remote_made_image_url,class: "control-label"   %>
		</div>
		<div class="col-sm-10">
			<%= f.text_field :remote_made_image_url, class: "form-control" %>
		</div>
	</div>	

	<div class="row row-form">
		<div class="col-sm-offset-2 col-sm-10">
			<%= f.submit class: "btn btn-default"%>
		</div>
	</div>

<% end %>