<P><%= render "validation_errors", object: @product %><P>

<%= form_for @product do |f| %>
	<p>
		<%= f.label :product_name %><br>
		<%= f.text_field :product_name %>
	</p>

	<p>
		<%= f.label :item_number %><br>
		<%= f.text_field :item_number %>
	</p>

	<p>
		<%= f.label :Package, "Package Requirement" %><br>
		<%= f.text_area :Package, size: "40X20" %>
	</p>

	<p>
		<%= f.label :Mark, "Mark Requirement" %><br>
		<%= f.text_area :Mark, size: "40X20" %>
	</p>

	<p>
		<%= f.label :Instruction, "Instruction Requirement" %><br>
		<%= f.text_area :Instruction, size: "40X20" %>
	</p>

	<p>
		<%= f.label :reminder %><br>
		<%= f.text_area :reminder, size: "40X20" %>
	</p>

	<p>
		<%= f.select :cost_id, Cost.where(project_id: @product.project_id).collect {|t| [t.unitRMB, t.id]}, {prompt: "Select Product"} %>
	</p>

	<% if @project.present? %>
		<%= f.hidden_field :project_id, :value => @project.id %>
	<% end %>

	<P><%= f.submit %></P>
<% end %>