<h1>Products#index</h1>

<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>name</th>
			<th>item name</th>
			<th>status</th>
			<th>actions</th>
		</tr>
	</thead>
	<tbody>
		<% @products.each do |product| %>
			<tr>
				<td><%= product.product_name %></td>
				<td><%= product.item_number %></td>
				<td><%= product.status %></td>
				<td>
					<%= link_to 'Edit', edit_product_path(product) %> |
					<%= link_to 'Delete', product_path(product), method: :delete, data: {confirm: "Are you sure?"} %>
				</td>
			</tr>			
		<% end %>			
	</tbody>
</table>
