<div class="container container-user">

<div class="panel panel-default">

	<div class="panel-heading">	
				<h1><%= @product.item_number%></h1>
				<em><%= @product.product_name %></em>
				<p><%= t('.belong_to') %> <b><%= link_to @product.project.project_name, controller: "projects", action: "show", id: @product.project_id if @product.project.present?%></b></p>
	</div>

	<div class="panel-body panel-home-show">
		<div class="row">
			<div class="col-ex-12 col-md-8">
				<table class="table table-striped table-condensed" >
					<tr>
						<th><%= Product.human_attribute_name(:inventory)%> </th>
						<td><%= simple_format(@product.inventory) %></td>
					</tr>
					<tr>
						<th><%= Product.human_attribute_name(:unit_cost) if current_user.role != 'designer' %></th>
						<td><%= smart_unit_cost(@product) %></td>
					</tr>
					<tr>
						<th><%= Product.human_attribute_name(:tooling_fee) if current_user.role != 'designer' %></th>
						<td><%= smart_tooling_fee(@product) %></td>
					</tr>
					<tr>
						<th><%= Product.human_attribute_name(:Package)%> </th>
						<td><%= simple_format(@product.Package) %></td>
					</tr>
					<tr>
						<th><%= Product.human_attribute_name(:Mark)%></th>
						<td><%= simple_format(@product.Mark) %></td>
					</tr>
					<tr>
						<th><%= Product.human_attribute_name(:Instruction)%></th>
						<td><%= simple_format(@product.Instruction) %></td>
					</tr>
					<tr>
						<th><%= Product.human_attribute_name(:reminder)%> </th>
						<td><%= simple_format(@product.reminder) %></td>
					</tr>
				</table>
			</div>
			<div class="col-ex-12 col-md-4">
				<% if @product.project.present? %>
					<% if @product.project.patent_projects.present? %>
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th><%= "#{Patent.human_attribute_name(:patent_type)}" %></th>
									<th><%= "#{Patent.human_attribute_name(:docket_number)}"%></th> 
									<th><%= "#{Patent.human_attribute_name(:status)}"%></th>
								</tr>
							</thead>
							<tbody>
								<% @product.project.patent_projects.each do |patent_project| %>
									<tr>
										<td><%= patent_project.patent.patent_type.to_s %></td>
										<td><%= patent_project.patent.docket_number.to_s %></td>
										<td><%= smart_patent_number patent_project	%></td>
									</tr>
								<% end %>						
							</tbody>
						</table>
					<% end %>
				<% end %>
				<% if current_user.role != 'designer' %>
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th><%= Po.human_attribute_name(:po_number)%></th>
								<th><%= Po.human_attribute_name(:quantity)%></th>
								<th><%= Po.human_attribute_name(:created_at)%></th>
								<th><%= Po.human_attribute_name(:finish)%> </th>
							</tr>
						</thead>
						<tbody>
							<% @product.po_products.joins(:po).order("date DESC").each do |po_product| %>
								<tr>
									<td><%= link_to po_product.po.po_number, controller: 'pos', action: 'show', id: po_product.po.id %></td>
									<td><%= po_product.quantity %></td>
									<td><%= po_product.po.date.strftime("%d-%m-%y") %></td>	
									<td><%= po_product.finish_date.strftime("%d-%m-%y") if po_product.finish_date.present? %></td>
								</tr>
							<% end %>						
						</tbody>
					</table>	
				<% end %>
			</div>
		</div>
	</div>


	<div class="panel-footer text-right">
		<% if current_user.role == 'admin' %>
			<%= link_to t('edit_label'), edit_product_path(id: @product.id) %> |
			<%= link_to t('delete_label'), product_path(id: @product.id), method: :delete, data: {confirm: "Are you sure?"} %>
		<% end %>
	</div>

</div>


<div class="col-ex-12 col-md-6">
	<div class="panel panel-info">
		<div class="panel-body panel-body-cost">
			<%= image_tag(@product.logo_image.url(:detail).to_s, class: "img-responsive img-thumbnail") %>
		</div>
	</div>
</div>
<div class="col-ex-12 col-md-6">
	<div class="panel panel-info">
		<div class="panel-body panel-body-cost">
			<%= image_tag(@product.patent_image.url(:detail).to_s, class: "img-responsive img-thumbnail") %>
		</div>
	</div>
</div>
<div class="col-ex-12 col-md-6">
	<div class="panel panel-info">
		<div class="panel-body panel-body-cost">
			<%= image_tag(@product.made_image.url(:detail).to_s, class: "img-responsive img-thumbnail") %>
		</div>
	</div>
</div>

</div>



