<P><%= render "validation_errors", object:  @report%><P>

<%= form_for @report do |f| %>

	<% if action_name == "new"%>
		<% if @project.present? %>
			<%= f.hidden_field :project_id, :value => @project.id %>
		<% else %>
			<%= f.select :project_id, Project.where(user_id: current_user.id).collect {|t| [t.project_name, t.id]}, {prompt: "Select Project"} %>
		<% end %>
	<% end %>

	<p>
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :content %><br>
		<%= f.text_area :content, size: "40x20" %>
	</p>
			
	<P><%= f.submit %></P>
<% end %>