<div class="panel panel-default panel-border-transparent">
  <div class="panel-body">
    <%= form_tag(reports_path, method: :get) do %>
    	<%= hidden_field_tag :direction, params[:direction]%>
    	<%= hidden_field_tag :sort, params[:sort]%>
	    <div class="form-inline">
		    <% if current_user.role != "factory"%>
					<%= select_tag(:filter, options_for_select(User.all.order(fullname: :asc).map { |u| [u.fullname, u.id] }), prompt: "Select Factory", class: "form-control") %>
					<%= submit_tag 'Submit', class: "btn btn-default"%>
				<% end %>
			</div>
		<% end %>
	</div>
</div>

<h1>Reports</h1>

<div class="panel panel-default panel-border-transparent">
  <div class="panel-body text-right">
		<%= link_to "New Report", new_report_path, class: "pull-xs-right" if current_user.role == 'admin'%>
	</div>
</div>

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th><%= "Factory" if current_user.role != "factory" %></th>
			<th><%= sortable "created_at", "Created At" %></th>
			<th>Project Name</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<% if @reports.present? %>
			<% @reports.each do |report| %>
				<tr>
					<td><%= report.name%></td>
					<td><%= report.project.user.fullname if current_user.role != "factory"%></td>
					<td><%= report.created_at.strftime("%b %d. %y") %></td>
					<td><%= link_to report.project.project_name, controller: 'projects', action: 'show', id: report.project.id %></td>
					<td>
						<%= link_to 'View', report_path(report) %> 
						<%= link_to '| Edit', edit_report_path(report) if current_user.role == 'admin'%> 
						<%= link_to '| Delete', report_path(report), method: :delete, data: {confirm: "Are you sure?"} if current_user.role == 'admin'%>
					</td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>
