<!-- Navigation Bar -->
<div class="navbar-static-top"> <!-- navbar fix to the top after login -->
  <div class="<%= smart_navbar_color params[:controller]%>"> <!-- navbar change to black after login -->
    <div class="container-fluid"> <!-- fix container after login -->
      <div class="navbar-header">
        <% if current_user %>
          <!-- Brand and toggle get grouped for better mobile display -->
          <button type="button" class="navbar-toggle navbar-toggle-black" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="glyphicon glyphicon-align-justify glyphicon-white"></span>
          </button>
        <%end%>
          <div id="black-logo"><%=  smart_logo_color(params[:controller]) %></div>      
          <div hidden id="white-logo"><%= link_to image_tag(@logo_white.image.url(:detail).to_s, class: "logo"), home_index_path, class: "navbar-brand" if @logo_black.present? %></div>
          <%= link_to "NcSTAR", home_index_path, class: "navbar-brand" if @logo_white.nil? && @logo_black.nil? %>
          <div id="login-link"><%= link_to t('.login'), login_link_select, class: "navbar-login" if current_user.nil?%></div>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <% if current_user %>
        <div  id="navbar" class="navbar-collapse collapse" aria-expanded="false">
          <ul class="nav navbar-nav navbar-right" >
            <% if params[:controller] != "home"%>
              <li class="<%= 'active' if params[:controller] == 'projects' %>"><%= link_to Project.model_name.human, projects_path(stage: 'stage_all'), class: "nav-link nav-second-word" %></li>  
              <li class="<%= 'active' if params[:controller] == 'products' %>"><%= link_to Product.model_name.human, products_path, class: "nav-link nav-second-word" %></li> 
              <li class="<%= 'active' if params[:controller] == 'costs' %>"><%= link_to Cost.model_name.human, costs_path, class: "nav-link nav-second-word" if current_user.role != 'designer'%></li>
              <li class="<%= 'active' if params[:controller] == 'pos'%>"><%= link_to Po.model_name.human, pos_path, class: "nav-link  nav-second-word" if current_user.role != 'designer'%></li>
              <li class="<%= 'active' if params[:controller] == 'reports'%>"><%= link_to Report.model_name.human, reports_path, class: "nav-link nav-second-word" if current_user.role != 'designer'%></li>
              <li class="<%= 'active' if params[:controller] == 'samples'%>"><%= link_to Sample.model_name.human, samples_path, class: "nav-link nav-second-word" %></li>
              <li >
                <form hidden id="nav-search" action="<%= projects_path(params.merge(stage: 'stage_all')) %>" class="navbar-form " role="search">
                  <div class="input-group">
                      <input id="nav-search-input" type="text" class="form-control nav-search-input" name="query" id="query" placeholder="Search" >
                      <input type="hidden" name="stage" value="stage_all">
                      <span class="input-group-addon nav-search-addon btn-default">
                          <button type="submit" class="home-search-button">
                              <span class="glyphicon glyphicon-search" aria-hidden="true" ></span>
                          </button>  
                      </span>
                  </div>
                </form>
              </li>
              <li class="square-icon">
                <a id="nav-search-icon" class="nav-link" style="text-align:center">
                <span id="nav-search-button" class="glyphicon glyphicon-search" aria-hidden="true" style="color:rgba(51,122,183,1);"></span></a>
              </li>
            <%end%>
            <li class="<%= 'active' if params[:controller] == 'notificatons'%>" style="width:70px">
              <a class="nav-link " href="<%= notifications_path%>" style="text-align:center">
              <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
              <span class="badge badge-color" style="margin-top:-5px"><%=@notifications.where(read: false).count if @notifications.where(read: false).count > 0 %></span>
              </a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle navbar-toggle-width" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= "#{t('.hello')}, #{@user.fullname}"%><span class="caret"></span></a>
              <ul class="dropdown-menu dropdown-menu-inverse">
                <li><%= link_to t('.my_account'), current_user_index_path, class: "nav-link dropdown-item-color" %></li>
                <li><%= link_to t('.admin_setting'), admin_setting_index_path, class: "nav-link dropdown-item-color" if current_user.role == "admin"%></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to t('.log_out'), destroy_user_session_path, method: :delete, class: "nav-link dropdown-item-color" %></li>
              </ul> 
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      <% end %>
    </div><!-- /.container-fluid -->
  </div>
</div> 


  <!-- Fiter bar -->
<!-- <div class="filter-bar-all">
  <% if current_user && params[:controller] != "home"%>
    <div hidden id="filter-bar" class="col-xs-11 col-md-4" style="padding:0px; float:right">
      <div class="filter-bar">
        <div class="filter-bar-form">      
          <%= form_tag('#', method: :get) do%>
            <%= hidden_field_tag :direction, params[:direction]%>
            <%= hidden_field_tag :sort, params[:sort]%>
            <% if current_user.role != "factory" %>
              <%= select_tag(:factory, options_for_select(User.where("role LIKE ? or role LIKE ?", "factory", "admin").order(fullname: :asc).map { |user| [user.fullname, user.id] }), prompt: "Select Factory", class: "form-control") %>
            <% end %>
            <%= select_tag(:project, options_for_select(project_select(current_user)), prompt: "Select Project", class: "form-control") %>
            <%= submit_tag 'Submit', class: "btn btn-default"%>
          <% end %>
        </div>
      </div>
    </div>
    <div id="left-arrow" style="padding:0px;">
      <a style="color:black"><span class="glyphicon glyphicon-chevron-left arrow"></span></a>
    </div>
    <div hidden id="right-arrow" style="padding:0px;">
      <a style="color:black"><span class="glyphicon glyphicon-chevron-right arrow"></span></a>
    </div>
  <% end %>
</div> -->
  
<!-- top banner -->
<% if  ['show', 'new', 'edit'].exclude?(action_name) && ['home', 'devise/sessions', 'registrations'].exclude?(params[:controller])%>
    <div class="container-fluid  container-banner">
        <%= image_tag "/home_images/topbanner.jpg", class: "img-responsive" %>
    </div>
<% end %>

