<!-- Navigation Bar -->
<div class="<%= smart_navbar_position params[:controller]%>"> <!-- navbar fix to the top after login -->
  <div class="<%= smart_navbar_color params[:controller]%>"> <!-- navbar change to black after login -->
    <div class="<%= smart_container params[:controller]%>"> <!-- fix container after login -->
      <div class="navbar-header">
        <% if current_user %>
          <!-- Brand and toggle get grouped for better mobile display -->
          <button type="button" class="navbar-toggle " data-toggle="collapse" data-target="#navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="glyphicon glyphicon-align-justify glyphicon-white"></span>
          </button>
        <%end%>
          <%= link_to image_tag(@logo.image.url(:detail).to_s, class: "logo"), home_index_path, class: "navbar-brand" if @logo.present? %>
          <%= link_to "NcSTAR", home_index_path, class: "navbar-brand" if @logo.nil? %>
          <div id="login-link"><%= link_to "Sign in", login_link_select, class: "navbar-login" if current_user.nil?%></div>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <% if current_user %>
        <div  id="navbar" class="navbar-collapse collapse" aria-expanded="false">
          <ul class="nav navbar-nav navbar-right" >
            <% if params[:controller] != "home"%>
              <li class="<%= 'active' if params[:controller] == 'projects' %>"><%= link_to "Projects", projects_path, class: "nav-link nav-second-word" %></li>  
              <li class="<%= 'active' if params[:controller] == 'products' %>"><%= link_to "Products", products_path, class: "nav-link nav-second-word" %></li> 
              <li class="<%= 'active' if params[:controller] == 'costs' %>"><%= link_to "Costs", costs_path, class: "nav-link nav-second-word" if current_user.role != 'designer'%></li>
              <li class="<%= 'active' if params[:controller] == 'pos'%>"><%= link_to "PO", pos_path, class: "nav-link  nav-second-word" if current_user.role != 'designer'%></li>
              <li class="<%= 'active' if params[:controller] == 'reports'%>"><%= link_to "Reports", reports_path, class: "nav-link nav-second-word" if current_user.role != 'designer'%></li>
              <li class="<%= 'active' if params[:controller] == 'samples'%>"><%= link_to "Samples", samples_path, class: "nav-link nav-second-word" %></li>
              <li >
                <form hidden id="nav-search" action="/projects" class="navbar-form " role="search">
                  <div class="input-group">
                      <input id="nav-search-input" type="text" class="form-control nav-search-input" name="query" id="query" placeholder="Search" >
                      <span class="input-group-addon nav-search-addon">
                          <button type="submit" class="home-search-button">
                              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                          </button>  
                      </span>
                  </div>
                </form>
              </li>
              <li >
                <a id="nav-search-icon" class="nav-link" href="#">
                <span id="nav-search-button" class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
              </li>
            <%end%>
            <li class="<%= 'active' if params[:controller] == 'notificatons'%>">
              <a class="nav-link" href="/notifications">
              <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
              <span class="badge badge-color"><%=@notifications.where(read: false).count if @notifications.where(read: false).count > 0 %></span>
              </a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle navbar-toggle-width" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= "Hello, #{@user.fullname}"%><span class="caret"></span></a>
              <ul class="dropdown-menu dropdown-menu-inverse">
                <li><%= link_to "My Account", current_user_index_path, class: "nav-link dropdown-item-color" %></li>
                <li><%= link_to "Admin Setting", admin_setting_index_path, class: "nav-link dropdown-item-color" if current_user.role == "admin"%></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link dropdown-item-color" %></li>
              </ul> 
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      <% end %>
    </div><!-- /.container-fluid -->
  </div>
  <!-- Fiter bar -->
  <% if current_user && params[:controller] != "home"%>
    <div class="row">
      <div hidden id="filter-bar" class="col-xs-11 col-md-4" style="padding:0px; float:right">
        <div class="filter-bar">
          <div class="filter-bar-form">      
            <%= form_tag('#', method: :get) do%>
              <%= hidden_field_tag :direction, params[:direction]%>
              <%= hidden_field_tag :sort, params[:sort]%>
              <% if current_user.role != "factory" %>
                <%= select_tag(:factory, options_for_select(User.where("role LIKE ? or role LIKE ?", "factory", "admin").order(fullname: :asc).map { |user| [user.fullname, user.id] }), prompt: "Select Factory", class: "form-control") %>
              <% end %>
              <%= select_tag(:project, options_for_select(project_select(current_user)), prompt: "Select Project", class: "form-control") %>
              <%= submit_tag 'Submit', class: "btn btn-default"%>
            <% end %>
          </div>
        </div>
      </div>
      <div id="left-arrow" class="col-xs-1 col-md-1" style="padding:0px; float:right">
        <a style="color:black"><span class="glyphicon glyphicon-chevron-left arrow"></span></a>
      </div>
      <div hidden id="right-arrow" class="col-xs-1 col-md-1" style="padding:0px; float:right">
        <a style="color:black"><span class="glyphicon glyphicon-chevron-right arrow"></span></a>
      </div>
    </div>
  <% end %>
</div> 

<!-- top banner -->
<% if (params[:controller] != 'projects' || action_name != 'show') && ['home', 'devise/sessions', 'registrations'].exclude?(params[:controller])%>
    <div class="container-fluid  container-banner">
        <%= image_tag "/home_images/topbanner.jpg", class: "img-responsive" %>
    </div>
<% end %>

