<!DOCTYPE html>
<html lang="en">
<head>
  <title>PPCTest2</title>
  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
</head>
<body>

<% if flash[:notice] %>
  <div id="notice_wrapper">
    <p class="notice"><%= flash[:notice] %></p>
  </div>
<% elsif flash[:alert] %>
  <div id="notice_wrapper">
    <p class="alert"><%= flash[:alert] %></p>
  </div>
<% end %>

<nav class="navbar navbar-static-top navbar-dark bg-inverse">
  <%= link_to "NcSTAR", home_index_path, class: "navbar-brand" %>
  <ul class="nav navbar-nav pull-xs-right">
    <% if current_user %>
      <li class="nav-item">
        <%= link_to "My Account", current_user_index_path, class: "nav-link" %>
      </li>
      <% if current_user.role == "admin" %>
        <li class="nav-item">
          <%= link_to "Admin Setting", admin_setting_index_path, class: "nav-link" %>
        </li>
      <% end %> 
    <% else %>
      <li class="nav-item">
          <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
      </li>
    <% end %>
  </ul>
</nav>

<div class="container">
  <div class="row">
    <div class="span6"><%= yield %></div>
  </div>

  <footer class="footer">
    <p>&copy; NcSTAR 2016</p>
  </footer>
</div>



<script>
  $(document).ready(function() {
    setTimeout(function() {
      $("#notice_wrapper").fadeOut('slow', function() {
        $(this).remove();
      })
    }, 4500);
  });
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>

</body>
</html>
