<!DOCTYPE html>
<html>
<head>
  <title>PPCTest2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="account">
  <% if current_user %>
    <span>Welcome, <%= current_user.email %></span>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Sign in", new_user_session_path %>
  <% end %>
</div>

<% if flash[:notice] %>
	<div class="notice">
		<%= flash[:notice] %>
	</div>
<% end %>

<% if flash[:alert] %>
	<div class="notice">
		<%= flash[:alert] %>
	</div>
<% end %>

<p>
  <%= link_to 'Home', home_index_path %>
</p>

<p>
  <% if current_user %>
    <%= link_to 'My account', current_user_index_path %>
    <%= link_to 'Task list', tasks_path %>
    <%= link_to 'Product list', products_path %>
    <% if current_user.role == "admin" %>
      <%= link_to 'Admin setting', admin_setting_index_path %>
    <% end %>   
  <% end %>
</p>

<%= yield %>

</body>
</html>
