<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>NcSTAR Tactical</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:notice] %>
  <div id="notice_wrapper">
    <div  class = "alert alert-success"><%= flash[:notice] %></div>
  </div>
<% elsif flash[:alert] %>
  <div id="notice_wrapper">
    <p class="alert alert-danger"><%= flash[:alert] %></p>
  </div>
<% end %>

<%= render 'layouts/nav_bar' %>

<% if action_name != 'show' && params[:controller] != 'home' && params[:controller] != 'devise/sessions' %>
  <div class="container-fluid  container-banner">
      <%= image_tag "/home_images/topbanner.jpg", class: "img-responsive" %>
  </div> 
<% end %>
  <!-- Main body -->
<div class="container"> 
  <%= yield %>
  <!-- Footer -->
</div> 


<script>
  $(document).ready(function() {
    setTimeout(function() {
      $("#notice_wrapper").stop(true, true)
        .animate({
            height:"toggle",
            opacity:"toggle"
        }).fadeOut('slow', function() {
        $(this).remove();
      })
    }, 2000);

    $("#login-link").click(function () {
      $("#login-panel").show()
    });

    $("#nav-search-icon").click(function (){
      $(this).hide();
      $("#nav-search").show(); 
    });

    $('body').click(function(e) {
      if (e.target.id == "nav-search-icon" || e.target.id == "nav-search-input" || e.target.id == "nav-search-button"){
        } else {
        $("#nav-search").hide();
        $("#nav-search-icon").show(); 
      }
    })
  });
</script>


</body>
</html>
